<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuanglian_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>dizhu_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,151},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>guangyun_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,147}}</string>
                <key>sourceSize</key>
                <string>{127,147}</string>
            </dict>
            <key>qiqiu01_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,151},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{38,71}</string>
            </dict>
            <key>qiqiu02_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{41,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,98}}</string>
                <key>sourceSize</key>
                <string>{41,98}</string>
            </dict>
            <key>qiqiu03_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,151},{30,81}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,81}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>qiqiu_11zhounian_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,224},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_changjing_11zhounian.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:679aefa1a458c9f72f335bc03376d381$</string>
            <key>textureFileName</key>
            <string>pic_changjing_11zhounian.png</string>
        </dict>
    </dict>
</plist>
