<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>deng01_sanzhounian.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,195},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>deng02_sanzhounian.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,195},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>deng_Shop_changcheng_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,229},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>deng_lvdong_sanzhounian.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,54},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>dengguang01_tenyear.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{392,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,66}}</string>
                <key>sourceSize</key>
                <string>{392,66}</string>
            </dict>
            <key>dengguang02_tenyear.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,93},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dengguang03_tenyear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,61}}</string>
                <key>sourceSize</key>
                <string>{235,61}</string>
            </dict>
            <key>landian_ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lizi_ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,70},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yingxiangguang_sanzhounian.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,195},{24,38}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{38,80}</string>
            </dict>
            <key>zise_guang_ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,195},{53,71}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{53,71}}</string>
                <key>sourceSize</key>
                <string>{93,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_effect_tenyears.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a44831059d13334c6e899249ea307cc$</string>
            <key>textureFileName</key>
            <string>pic_effect_tenyears.png</string>
        </dict>
    </dict>
</plist>
