<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_dizhu_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>shenti_dizhu_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,45},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>shenti_nongmin_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,133}}</string>
                <key>sourceSize</key>
                <string>{102,133}</string>
            </dict>
            <key>tou_dizhu_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{87,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,101}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>tou_nongmin_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,137},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,94}</string>
            </dict>
            <key>yingzi_dizhu_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{93,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,9}}</string>
                <key>sourceSize</key>
                <string>{93,9}</string>
            </dict>
            <key>youshou_dizhu_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>zuiba_nongmin_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>zuoshou_dizhu_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,233},{17,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,9}}</string>
                <key>sourceSize</key>
                <string>{17,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengli_xiuxjs_pc.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d70e7e02cf5e1b3fc06392cf0ecaf4$</string>
            <key>textureFileName</key>
            <string>shengli_xiuxjs_pc.png</string>
        </dict>
    </dict>
</plist>
