<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_chibang_diji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{151,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,237}}</string>
                <key>sourceSize</key>
                <string>{151,237}</string>
            </dict>
            <key>L_saoguang_zizuo0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,509},{1,1}}</string>
                <key>offset</key>
                <string>{-46.5,72.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,498},{12,12}}</string>
                <key>offset</key>
                <string>{-24,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,423},{20,26}}</string>
                <key>offset</key>
                <string>{-23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{20,26}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,446},{34,38}}</string>
                <key>offset</key>
                <string>{-25,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,396},{38,48}}</string>
                <key>offset</key>
                <string>{-26,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,438},{38,58}}</string>
                <key>offset</key>
                <string>{-26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,58}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,260},{38,72}}</string>
                <key>offset</key>
                <string>{-26,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,72}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,300},{46,80}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,80}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,276},{46,84}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{46,84}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,184},{46,86}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{46,86}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,184},{46,90}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{46,90}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,284},{48,96}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{48,96}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,186},{48,96}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{48,96}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,276},{44,92}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{44,92}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,451},{56,84}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{56,84}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,206},{52,76}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,50},{52,76}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,348},{46,68}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,63},{46,68}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,414},{50,58}}</string>
                <key>offset</key>
                <string>{11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,75},{50,58}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,382},{54,52}}</string>
                <key>offset</key>
                <string>{15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,87},{54,52}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,362},{50,46}}</string>
                <key>offset</key>
                <string>{20,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,97},{50,46}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,186},{28,38}}</string>
                <key>offset</key>
                <string>{31,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,106},{28,38}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,396},{24,32}}</string>
                <key>offset</key>
                <string>{33,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,112},{24,32}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,474},{22,24}}</string>
                <key>offset</key>
                <string>{34,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,120},{22,24}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{16,14}}</string>
                <key>offset</key>
                <string>{37,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,130},{16,14}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,370},{14,10}}</string>
                <key>offset</key>
                <string>{38,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,134},{14,10}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,438},{12,8}}</string>
                <key>offset</key>
                <string>{39,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,136},{12,8}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,382},{8,6}}</string>
                <key>offset</key>
                <string>{41,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,138},{8,6}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,241},{4,4}}</string>
                <key>offset</key>
                <string>{43,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,140},{4,4}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_saoguang_zizuo0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,509},{1,1}}</string>
                <key>offset</key>
                <string>{-46.5,72.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>L_sidai_diji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,390},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>L_sidai_diji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,451},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>L_sidai_diji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,451},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>L_sidai_diji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,451},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>L_sidai_diji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,390},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>L_sidai_diji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,186},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>M_dizuo_diji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,246}}</string>
                <key>sourceSize</key>
                <string>{247,246}</string>
            </dict>
            <key>M_sidai_diji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,241},{136,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{136,180}}</string>
                <key>sourceSize</key>
                <string>{152,182}</string>
            </dict>
            <key>M_sidai_diji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,250},{136,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{136,180}}</string>
                <key>sourceSize</key>
                <string>{152,182}</string>
            </dict>
            <key>M_sidai_diji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{136,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{136,180}}</string>
                <key>sourceSize</key>
                <string>{152,182}</string>
            </dict>
            <key>M_sidai_diji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{136,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{136,182}}</string>
                <key>sourceSize</key>
                <string>{152,182}</string>
            </dict>
            <key>M_sidai_diji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{136,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{136,182}}</string>
                <key>sourceSize</key>
                <string>{152,182}</string>
            </dict>
            <key>M_sidai_diji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{136,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{136,182}}</string>
                <key>sourceSize</key>
                <string>{152,182}</string>
            </dict>
            <key>R_chibang_diji.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{147,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,237}}</string>
                <key>sourceSize</key>
                <string>{147,237}</string>
            </dict>
            <key>R_sidai_diji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,186},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>R_sidai_diji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,186},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>R_sidai_diji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,186},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>R_sidai_diji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,186},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>R_sidai_diji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,186},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>R_sidai_diji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic02_diji_dizuo.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c754f028e9f6bfa7590d0850fe906e$</string>
            <key>textureFileName</key>
            <string>pic02_diji_dizuo.png</string>
        </dict>
    </dict>
</plist>
