<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_chibang_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,250},{147,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,237}}</string>
                <key>sourceSize</key>
                <string>{147,237}</string>
            </dict>
            <key>M_dizuo_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,245}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>R_chibang_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{148,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,237}}</string>
                <key>sourceSize</key>
                <string>{148,237}</string>
            </dict>
            <key>gaoji_L_sidai_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_L_sidai_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,410},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_L_sidai_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_L_sidai_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_L_sidai_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_L_sidai_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_M_sidai_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{136,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,179}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>gaoji_M_sidai_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,185},{136,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,179}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>gaoji_M_sidai_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,368},{136,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,179}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>gaoji_M_sidai_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{136,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,181}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>gaoji_M_sidai_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,185},{136,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,181}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>gaoji_M_sidai_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{136,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,181}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>gaoji_R_sidai_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_R_sidai_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_R_sidai_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,410},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_R_sidai_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_R_sidai_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>gaoji_R_sidai_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_dizuo_gaoji.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29d4027b52c59f6682dc6b5f5563b312$</string>
            <key>textureFileName</key>
            <string>pic_dizuo_gaoji.png</string>
        </dict>
    </dict>
</plist>
