<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_chibang_zhongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{151,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,237}}</string>
                <key>sourceSize</key>
                <string>{151,237}</string>
            </dict>
            <key>L_saoguang_zizuo0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,206},{42,40}}</string>
                <key>offset</key>
                <string>{24,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,104},{42,40}}</string>
                <key>sourceSize</key>
                <string>{94,146}</string>
            </dict>
            <key>M_dizuo_zhongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,246}}</string>
                <key>sourceSize</key>
                <string>{247,246}</string>
            </dict>
            <key>R_chibang_zhongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,251},{147,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,237}}</string>
                <key>sourceSize</key>
                <string>{147,237}</string>
            </dict>
            <key>zhongji_L_sidai_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_L_sidai_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,410},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_L_sidai_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_L_sidai_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_L_sidai_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_L_sidai_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_M_sidai_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{136,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,179}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>zhongji_M_sidai_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,185},{136,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,179}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>zhongji_M_sidai_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,368},{136,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,179}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>zhongji_M_sidai_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{136,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,181}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>zhongji_M_sidai_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,185},{136,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,181}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>zhongji_M_sidai_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{136,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,181}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>zhongji_R_sidai_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_R_sidai_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_R_sidai_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,410},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_R_sidai_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_R_sidai_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,206},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
            <key>zhongji_R_sidai_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{59,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,202}}</string>
                <key>sourceSize</key>
                <string>{73,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_dizuo_zhongji.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff0656b2299ef8653fe3b38cee98c1e4$</string>
            <key>textureFileName</key>
            <string>pic_dizuo_zhongji.png</string>
        </dict>
    </dict>
</plist>
