<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GDC_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>guangyun_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,158}}</string>
                <key>sourceSize</key>
                <string>{231,158}</string>
            </dict>
            <key>landian_ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,155},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>led_0_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,235},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>led_1_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,235},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>led_2_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,235},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>led_7_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,235},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>lianhua_chuanjie_CJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,207},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>liuxing_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,155},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>shexian_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,148},{106,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,141}}</string>
                <key>sourceSize</key>
                <string>{106,141}</string>
            </dict>
            <key>yanhuo01_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{151,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,141}}</string>
                <key>sourceSize</key>
                <string>{151,141}</string>
            </dict>
            <key>yanhuo02_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{144,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,114}}</string>
                <key>sourceSize</key>
                <string>{144,114}</string>
            </dict>
            <key>yanhuo03_chuanjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,155},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_chuanjie_bg.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4abb420fcc0d0ec9bd97354907fcbd91$</string>
            <key>textureFileName</key>
            <string>pic_chuanjie_bg.png</string>
        </dict>
    </dict>
</plist>
