<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>getnewp_light</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{118,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,398}}</string>
                <key>sourceSize</key>
                <string>{118,398}</string>
            </dict>
            <key>getnewp_light01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,200}}</string>
                <key>sourceSize</key>
                <string>{252,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>getnewAnim.png</string>
            <key>size</key>
            <string>{256,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c096b9397b99a6b8e1a0ed5352afdacc$</string>
            <key>textureFileName</key>
            <string>getnewAnim.png</string>
        </dict>
    </dict>
</plist>
