<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Strategy_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,498},{165,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,60}}</string>
                <key>sourceSize</key>
                <string>{165,60}</string>
            </dict>
            <key>Btn_jjjpwjs_jxclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,428},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>Btn_jjjpwjs_jxmouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,428},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>Btn_queding_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,560},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_queding_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,614},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_queding_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,612},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_shoucang_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_shoucang_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,628},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_shoucang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_tuichu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_tuichu_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,668},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_tuichu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,674},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>Btn_xiayilun_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,628},{128,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>Btn_xiayilun_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,722},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>card1_jjzjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{242,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,198}}</string>
                <key>sourceSize</key>
                <string>{242,198}</string>
            </dict>
            <key>ef_jjpw_shengxing_sucess1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,320}}</string>
                <key>sourceSize</key>
                <string>{492,320}</string>
            </dict>
            <key>frame_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,612},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>selfBg_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{490,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,50}}</string>
                <key>sourceSize</key>
                <string>{490,50}</string>
            </dict>
            <key>selfBg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{490,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,50}}</string>
                <key>sourceSize</key>
                <string>{490,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_Fight1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7fe5bc37326a871eafcd926fe4b32d:2/2$</string>
            <key>textureFileName</key>
            <string>EXP_Fight1.png</string>
        </dict>
    </dict>
</plist>
