<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_diaochan_guangsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,465},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>Tx_diaochan_hudie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,465},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>Tx_diaochan_hudie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,185},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>Tx_diaochan_hudie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{52,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>Tx_diaochan_hudie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,183},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>Tx_diaochan_hudie05.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,215},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Tx_diaochan_hudie06.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,247},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>Tx_diaochan_hudie07.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,437},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>Tx_diaochan_hudie08.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,318},{117,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,112}}</string>
                <key>sourceSize</key>
                <string>{117,112}</string>
            </dict>
            <key>Tx_diaochan_hudie09.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,204},{117,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,112}}</string>
                <key>sourceSize</key>
                <string>{117,112}</string>
            </dict>
            <key>Tx_diaochan_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,148},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Tx_diaochan_shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{106,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,119}}</string>
                <key>sourceSize</key>
                <string>{106,119}</string>
            </dict>
            <key>Tx_diaochan_tet_shangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,148},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>Tx_diaochan_tet_xiajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,148},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>Tx_diaochan_yun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,144}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{375,144}}</string>
                <key>sourceSize</key>
                <string>{385,144}</string>
            </dict>
            <key>Tx_diaochan_yun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,110},{119,92}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{119,92}}</string>
                <key>sourceSize</key>
                <string>{129,108}</string>
            </dict>
            <key>Tx_diaochan_yun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,204},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>Tx_diaochan_yun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{290,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,31}}</string>
                <key>sourceSize</key>
                <string>{290,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_diaochan_tuji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b906282ba3aa692f0f479aa78e88b6e$</string>
            <key>textureFileName</key>
            <string>Tx_diaochan_tuji.png</string>
        </dict>
    </dict>
</plist>
