<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_jineng_putong_sd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,228},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>Tx_jineng_putong_sd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,228},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>Tx_jineng_putong_sd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>Tx_jineng_putong_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,143}}</string>
                <key>sourceSize</key>
                <string>{357,143}</string>
            </dict>
            <key>Tx_jineng_putong_ui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,147},{260,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,79}}</string>
                <key>sourceSize</key>
                <string>{260,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TX_jineng_putong_tuji.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d725c11abf605492a550a4e223cd9a94$</string>
            <key>textureFileName</key>
            <string>TX_jineng_putong_tuji.png</string>
        </dict>
    </dict>
</plist>
