<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_flxt_famouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,448},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>Btn_flxt_fanormer.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,448},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>Btn_flxt_jxzdq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>Btn_flxt_jxzjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,58},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>Btn_flxt_jxzmouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,58},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>Btn_flxt_jxznormer.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,133},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>Btn_flxt_ygdq.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,167},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>Btn_flxt_ygjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,201},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>Btn_flxtd_ljclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,158},{111,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>Btn_flxtd_ljmousevoer.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,293},{111,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>Btn_flxtd_ljnormer.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,315},{111,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>Btn_tab1_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,410},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>Btn_tab2_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,278},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>Btn_tab3_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,278},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>Frame_flxt_jb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,58},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>Frame_flxt_td.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,54}}</string>
                <key>sourceSize</key>
                <string>{448,54}</string>
            </dict>
            <key>Frame_flxt_txmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Frame_flxt_zbdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,235},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>anniu_fanye1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,235},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>anniu_fanye1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,206},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>anniu_fanye2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,264},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>btn_close_1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,271},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_close_2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,428},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_close_3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,274},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>duihuan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>duihuan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,138},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>duihuan1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,274},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>duihuan1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,448},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>duihuan_xinxi1_1_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,58},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>duihuan_xinxi1_2_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,132},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>huoqu01_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,58},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>huoqu02_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,113},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>huoqu03_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,138},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>jia01_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,58},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jia02_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,94},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jia03_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,130},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jia04_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,166},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jian01_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,202},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jian02_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,238},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jian03_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,406},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>jian04_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,235},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>querenduihuan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,168},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>querenduihuan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,223},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>tiao_naozhong01_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,58},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>tiao_naozhong02_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,108},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>tiao_xuanzhong_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,274},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>title_fulixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{153,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,42}}</string>
                <key>sourceSize</key>
                <string>{153,42}</string>
            </dict>
            <key>title_jiangpinxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{153,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,42}}</string>
                <key>sourceSize</key>
                <string>{153,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_Welfare2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaeada0c403732032c0b56ea02578fa5:3/3$</string>
            <key>textureFileName</key>
            <string>EXP_Welfare2.png</string>
        </dict>
    </dict>
</plist>
