<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YZ_shao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,496},{13,35}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,72},{13,35}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,434},{19,51}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,56},{19,51}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,58},{23,69}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,38},{23,69}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,262},{27,85}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{27,85}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,343},{29,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{29,99}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,477},{29,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,103}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,230},{29,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,103}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,312},{29,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,99}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,262},{27,87}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{27,87}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,83},{17,69}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{17,69}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>YZ_shao0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,102},{11,51}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{11,51}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>yizishao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,434},{16,75}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,93},{16,75}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,262},{16,89}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,79},{16,89}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,374},{16,101}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,67},{16,101}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,478},{16,115}}</string>
                <key>offset</key>
                <string>{15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,53},{16,115}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,357},{16,127}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{16,127}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,357},{14,137}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{14,137}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,206},{52,143}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,143}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,357},{54,131}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,131}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,357},{54,119}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,119}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,206},{54,105}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,105}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,262},{54,91}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,91}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,230},{54,77}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,77}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{54,63}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,63}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>yizishao0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,261},{54,49}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,49}}</string>
                <key>sourceSize</key>
                <string>{60,171}</string>
            </dict>
            <key>zhuoshao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,312},{43,32}}</string>
                <key>offset</key>
                <string>{-168,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,65},{43,32}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,102},{61,40}}</string>
                <key>offset</key>
                <string>{-159,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{61,40}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,384},{81,48}}</string>
                <key>offset</key>
                <string>{-149,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{81,48}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,283},{99,52}}</string>
                <key>offset</key>
                <string>{-140,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{99,52}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,357},{119,58}}</string>
                <key>offset</key>
                <string>{-130,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{119,58}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,144},{137,60}}</string>
                <key>offset</key>
                <string>{-121,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{137,60}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,206},{143,54}}</string>
                <key>offset</key>
                <string>{-104,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,29},{143,54}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{149,50}}</string>
                <key>offset</key>
                <string>{-86,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{149,50}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{153,44}}</string>
                <key>offset</key>
                <string>{-67,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,21},{153,44}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,351},{155,42}}</string>
                <key>offset</key>
                <string>{-47,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,16},{155,42}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,188},{157,40}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,12},{157,40}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,150},{159,36}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,10},{159,36}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,80},{161,34}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,6},{161,34}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,116},{161,32}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,3},{161,32}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,50},{163,28}}</string>
                <key>offset</key>
                <string>{57,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,2},{163,28}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,24},{167,24}}</string>
                <key>offset</key>
                <string>{79,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,2},{167,24}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{171,20}}</string>
                <key>offset</key>
                <string>{101,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,2},{171,20}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,357},{153,18}}</string>
                <key>offset</key>
                <string>{112,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,1},{153,18}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,496},{131,14}}</string>
                <key>offset</key>
                <string>{123,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,1},{131,14}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,155},{109,10}}</string>
                <key>offset</key>
                <string>{134,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,2},{109,10}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuoshao0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,266},{89,8}}</string>
                <key>offset</key>
                <string>{144,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,1},{89,8}}</string>
                <key>sourceSize</key>
                <string>{379,98}</string>
            </dict>
            <key>zhuozi_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,202}}</string>
                <key>sourceSize</key>
                <string>{269,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>denglu_texture05.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3333788b05d205b3c1dc99f33c699e9b$</string>
            <key>textureFileName</key>
            <string>denglu_texture05.png</string>
        </dict>
    </dict>
</plist>
