<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,212},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>DZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,165},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>DZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,292}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{215,292}}</string>
                <key>sourceSize</key>
                <string>{217,292}</string>
            </dict>
            <key>DZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,83},{149,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,127}}</string>
                <key>sourceSize</key>
                <string>{149,127}</string>
            </dict>
            <key>DZ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,48},{53,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,31}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>DZ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,212},{71,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,48}</string>
            </dict>
            <key>HD_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>HD_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,38},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>HD_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,78},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>NM_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,88},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>NM_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,247},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>NM_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>NM_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{213,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,273}}</string>
                <key>sourceSize</key>
                <string>{213,273}</string>
            </dict>
            <key>NM_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,124},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>pai01_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>pai02_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,83},{206,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,73}}</string>
                <key>sourceSize</key>
                <string>{206,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>denglu_texture06.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:244d53100622565240ffef6cdaee3187$</string>
            <key>textureFileName</key>
            <string>denglu_texture06.png</string>
        </dict>
    </dict>
</plist>
