<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoj_bang.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,140},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_bishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,272},{42,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{42,34}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_daku.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_deyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_emo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_fanu.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,222},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_haixiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,132},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_han.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_hanxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,48},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_haqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,266},{38,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_jingkong.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,150},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_kanren.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{52,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,38}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_keai.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,94},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_kelian.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,88},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,236},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_outu.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{36,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_qidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{38,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{38,40}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_qinqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_se.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_shaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,186},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_shuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,48},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_tiaopi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,224},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_touxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,42},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_xinsui.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,266},{42,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_ye.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{48,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{48,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,178},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,194},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_zaijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{40,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_zhuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>emoj_ziya.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,230},{40,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,42}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>hover_liaotian_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoj_static00.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6afa645a672ecb9122084ead4cd357a5:1/1$</string>
            <key>textureFileName</key>
            <string>emoj_static00.png</string>
        </dict>
    </dict>
</plist>
