<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,280},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>backIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>backIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,310},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>bg_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{330,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,2}}</string>
                <key>sourceSize</key>
                <string>{330,2}</string>
            </dict>
            <key>closeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>closeIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,340},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>closeIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{2,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,23}}</string>
                <key>sourceSize</key>
                <string>{2,23}</string>
            </dict>
            <key>gameIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,334},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,109}}</string>
                <key>sourceSize</key>
                <string>{178,109}</string>
            </dict>
            <key>maxIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,370},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>maxIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>maxIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,370},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>miniIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,400},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>miniIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>miniIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,400},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>progress1_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,182},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>progress2_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,304},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>progress_light_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>settingIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,216},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>settingIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>settingIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>titleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,332},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_loading_pc0.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d3f7f55f2705f4f79c88da28e2f7c1d:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_loading_pc0.png</string>
        </dict>
    </dict>
</plist>
