<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_bg2_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,386},{172,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,176}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>BG_bg3_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,892},{192,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>BG_bg4_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{36,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,302}}</string>
                <key>sourceSize</key>
                <string>{36,302}</string>
            </dict>
            <key>BG_bg_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,566},{324,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,504}}</string>
                <key>sourceSize</key>
                <string>{324,504}</string>
            </dict>
            <key>Btn_tab1_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,892},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>Btn_tab2_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,892},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>Btn_tab3_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,892},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>baoming1_1_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>baoming1_2_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,114},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>baoming1_3_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,250},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>baoming_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,450},{79,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,26}}</string>
                <key>sourceSize</key>
                <string>{79,26}</string>
            </dict>
            <key>bg_zuanshi_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,562}}</string>
                <key>sourceSize</key>
                <string>{60,562}</string>
            </dict>
            <key>close_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,340},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_click_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,340},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,340},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dhd_click_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,450},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>dhd_main_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,504},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>dhd_mouseover_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,286},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>fgx_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{350,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,2}}</string>
                <key>sourceSize</key>
                <string>{350,2}</string>
            </dict>
            <key>guang_zs_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{529,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,53}}</string>
                <key>sourceSize</key>
                <string>{529,53}</string>
            </dict>
            <key>jieshu_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,892},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>jifen_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>jjks_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>jxz_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,892},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>jxz_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,533},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>jzsb_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,114},{202,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>jzsb_click_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,226},{202,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>jzsb_mouseover_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,338},{202,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>kaishi_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,892},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>mengban_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{510,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,36}}</string>
                <key>sourceSize</key>
                <string>{510,36}</string>
            </dict>
            <key>mianfeibaoming_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,450},{79,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,26}}</string>
                <key>sourceSize</key>
                <string>{79,26}</string>
            </dict>
            <key>mingci_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>nicheng_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,42},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>saishi_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,122},{162,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,43}}</string>
                <key>sourceSize</key>
                <string>{162,43}</string>
            </dict>
            <key>title_bg_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,40},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>tmgd_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1020},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ybm_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,40},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>yibaoming_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,892},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>yjs_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,450},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>zhuangshi1_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,532},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>zhuangshi2_MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,892},{129,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,42}}</string>
                <key>sourceSize</key>
                <string>{129,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_MatchDetail_pc0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe4b440beb9e1db8284e7a03ef14927e:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_MatchDetail_pc0.png</string>
        </dict>
    </dict>
</plist>
