<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>buttonImage/1f_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,252},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/1f_Disable_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,252},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/1f_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,252},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/1f_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,284},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/2f_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,334},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/2f_Disable_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/2f_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,302},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/2f_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,302},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/3f_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,352},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/3f_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,352},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/3f_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,352},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/buchu_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,356},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/buchu_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,384},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/buchu_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,434},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/bujiabei_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,402},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/bujiabei_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,402},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/bujiabei_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,402},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/bujiaoClick_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,452},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/bujiao_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,452},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/bujiao_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,452},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/buqiang_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,460},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/buqiang_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,484},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/buqiang_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,534},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/chaojijiabei_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/chaojijiabei_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,2},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/chaojijiabei_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,2},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/chupai_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,502},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/chupai_Disable_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,502},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/chupai_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,502},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/chupai_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,552},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/cjjb_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,2},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/cjjb_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,52},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/cjjb_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,52},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/huanduishou02_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,52},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/huanduishou02_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,102},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/huanduishou02_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,102},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/jb_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,552},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jb_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,552},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jb_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,564},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jiabei_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,584},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jiabei_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,634},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jiabei_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,602},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jiaodizhu_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,602},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jiaodizhu_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,602},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/jiaodizhu_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,652},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/kaisyouxi_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,102},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/kaisyouxi_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,143},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/kaisyouxi_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,152},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mingpai_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,652},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/mingpai_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,652},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/mingpai_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,668},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/mingpaiks02_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,152},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mingpaiks02_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,152},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mingpaiks02_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,202},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mingpaiks_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,202},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mingpaiks_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,202},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mingpaiks_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,252},{139,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{139,48}}</string>
				<key>sourceSize</key>
				<string>{139,48}</string>
			</dict>
			<key>buttonImage/mp_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,684},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/mp_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,734},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/mp_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,784},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/qiangdizhu_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,702},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/qiangdizhu_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,888},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/qiangdizhu_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,702},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/tishi_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,702},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/tishi_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,784},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/tishi_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,888},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/x02_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,2},{16,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{16,18}}</string>
				<key>sourceSize</key>
				<string>{16,18}</string>
			</dict>
			<key>buttonImage/x_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,20},{16,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{16,18}}</string>
				<key>sourceSize</key>
				<string>{16,18}</string>
			</dict>
			<key>buttonImage/yaobuqi_Click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,752},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/yaobuqi_Mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,752},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>buttonImage/yaobuqi_Normal_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,772},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>buttonImage0.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:2cfcb531cc1657d817558c1546d5e141:1/1$</string>
			<key>textureFileName</key>
			<string>buttonImage0.png</string>
		</dict>
	</dict>
</plist>
