<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JJ_T_xing001.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{338,61},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>dp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,196},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,26}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>dzj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,142},{95,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,54}}</string>
                <key>sourceSize</key>
                <string>{95,54}</string>
            </dict>
            <key>dzkp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,213},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>dzkp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,233},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>dzkp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,233},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>dzpf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,142},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>dzpf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,127},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>dzs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,127},{51,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,79}}</string>
                <key>sourceSize</key>
                <string>{51,79}</string>
            </dict>
            <key>dzs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,213},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>dzst.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,142},{89,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,80}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>dzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{115,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,123}}</string>
                <key>sourceSize</key>
                <string>{115,123}</string>
            </dict>
            <key>dztx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,78}}</string>
                <key>sourceSize</key>
                <string>{140,78}</string>
            </dict>
            <key>dztx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,241},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>ed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,239},{15,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,43}}</string>
                <key>sourceSize</key>
                <string>{17,45}</string>
            </dict>
            <key>ed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{11,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,39}}</string>
                <key>sourceSize</key>
                <string>{13,41}</string>
            </dict>
            <key>mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,59}</string>
            </dict>
            <key>pp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,95}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>pp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{138,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,137}}</string>
                <key>sourceSize</key>
                <string>{140,139}</string>
            </dict>
            <key>pp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,121},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,73}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>t.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,208},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhounianqing.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e751b3e0267922b761854ece76f14554$</string>
            <key>textureFileName</key>
            <string>zhounianqing.png</string>
        </dict>
    </dict>
</plist>
