<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bishi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bishi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bishi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bishi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bishi.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae69e2a7cb685c5f3a479a8eabcbc7d$</string>
            <key>textureFileName</key>
            <string>bishi.png</string>
        </dict>
    </dict>
</plist>
