<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>deyi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,94},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,94},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,96},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,98},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>deyi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deyi.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca8eeefa3745e1d97c19c451ff121fcc$</string>
            <key>textureFileName</key>
            <string>deyi.png</string>
        </dict>
    </dict>
</plist>
