<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>han0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,94},{90,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{90,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{90,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{90,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>han0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{92,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>han.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a15f53018e6fd6a2ccf8909bda94a03d$</string>
            <key>textureFileName</key>
            <string>han.png</string>
        </dict>
    </dict>
</plist>
