<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haqian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,90},{86,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{86,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,90},{86,94}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{86,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,102},{86,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{86,96}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{86,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,102},{86,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{86,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haqian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haqian.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:348002f24b565a64ea66735dbcec7dc0$</string>
            <key>textureFileName</key>
            <string>haqian.png</string>
        </dict>
    </dict>
</plist>
