<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingkong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{86,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,94},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{76,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{90,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,96},{86,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,96},{86,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jingkong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingkong.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:577f50cc193788226c5e0f47d4b74865$</string>
            <key>textureFileName</key>
            <string>jingkong.png</string>
        </dict>
    </dict>
</plist>
