<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>outu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{62,64}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,68},{62,64}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,64}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,152},{62,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{62,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{62,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{62,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,100},{62,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{62,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{62,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>outu.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb142be958e7794059d601c65da2acf8$</string>
            <key>textureFileName</key>
            <string>outu.png</string>
        </dict>
    </dict>
</plist>
