<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qidao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,88},{84,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,88},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{84,90}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{84,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,92},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,92},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qidao.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:706739d9e1bf5541d3fda5722a42c734$</string>
            <key>textureFileName</key>
            <string>qidao.png</string>
        </dict>
    </dict>
</plist>
