<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ziya0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ziya0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{86,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ziya.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f36607bf7b17f2531c2f971e2f0e63$</string>
            <key>textureFileName</key>
            <string>ziya.png</string>
        </dict>
    </dict>
</plist>
