<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raiden30458_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>kuang_PC_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,57},{178,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{178,37}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>xilanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,53}}</string>
                <key>sourceSize</key>
                <string>{200,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add_Pic.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755ac20b2dbe5b917c26cf016b622725$</string>
            <key>textureFileName</key>
            <string>add_Pic.png</string>
        </dict>
    </dict>
</plist>
