<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ayh_gebo_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,185},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>Ayh_gebo_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,176},{5,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{5,8}</string>
            </dict>
            <key>Ayh_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,176},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>Ayh_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,142},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>Ayh_yeshugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{191,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,143}}</string>
                <key>sourceSize</key>
                <string>{191,143}</string>
            </dict>
            <key>Ayh_yezi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,3},{62,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,135}}</string>
                <key>sourceSize</key>
                <string>{62,135}</string>
            </dict>
            <key>Ayh_yezi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,3},{60,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,115}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>Ayh_yezi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,122},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>Ayh_yezi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,198},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>Ayh_yezi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,142},{78,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>Ayh_yezi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Aoyunhui_Pic.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87c48c8ede8fe6b2d078cc8ca11b47c$</string>
            <key>textureFileName</key>
            <string>Aoyunhui_Pic.png</string>
        </dict>
    </dict>
</plist>
