<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effects_Textures_51-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chuanbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,19}}</string>
                <key>sourceSize</key>
                <string>{140,21}</string>
            </dict>
            <key>dian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>dian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>diandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>hudie0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,224},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hudie0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,241},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hudie0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,207},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hudie0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,190},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>liazi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,153},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>liazi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,147},{29,19}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{29,19}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>liazi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,168},{22,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>liazi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,94},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>luwei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,94},{20,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
            <key>luwei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>luwei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,147},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>luwei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,141},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangwan_Pic.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde13308d5842453b3f5a2813d76907e$</string>
            <key>textureFileName</key>
            <string>bangwan_Pic.png</string>
        </dict>
    </dict>
</plist>
