<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{648,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,207}}</string>
                <key>sourceSize</key>
                <string>{648,207}</string>
            </dict>
            <key>tree03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,222}}</string>
                <key>sourceSize</key>
                <string>{339,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beijing_chunjie_texture2.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263a70c6efee00de9394f3d66bd48bdc$</string>
            <key>textureFileName</key>
            <string>beijing_chunjie_texture2.png</string>
        </dict>
    </dict>
</plist>
