<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Disk_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,119}}</string>
                <key>sourceSize</key>
                <string>{387,119}</string>
            </dict>
            <key>Disk_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{358,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,54}}</string>
                <key>sourceSize</key>
                <string>{358,54}</string>
            </dict>
            <key>lantern1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,273},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>lantern1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,391},{3,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,97}}</string>
                <key>sourceSize</key>
                <string>{3,97}</string>
            </dict>
            <key>lantern1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,476},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>lantern1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,476},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>lantern2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,273},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>lantern2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,476},{13,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,32}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>lantern2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,366},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>lantern2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,476},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>lantern3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,273},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>lantern3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,476},{8,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,30}}</string>
                <key>sourceSize</key>
                <string>{8,30}</string>
            </dict>
            <key>lantern3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,366},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>lantern3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,476},{8,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,36}}</string>
                <key>sourceSize</key>
                <string>{8,36}</string>
            </dict>
            <key>led_chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,490},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>led_kuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,490},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>led_le.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>led_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,489},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>lights_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,391},{243,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,83}}</string>
                <key>sourceSize</key>
                <string>{243,83}</string>
            </dict>
            <key>lights_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{362,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,179}}</string>
                <key>sourceSize</key>
                <string>{362,179}</string>
            </dict>
            <key>line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{98,2}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{98,2}}</string>
                <key>sourceSize</key>
                <string>{128,4}</string>
            </dict>
            <key>orange_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,273},{151,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,146}}</string>
                <key>sourceSize</key>
                <string>{151,146}</string>
            </dict>
            <key>orange_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{148,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,141}}</string>
                <key>sourceSize</key>
                <string>{148,141}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,476},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>red_packets_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,487},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>red_packets_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,487},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>red_packets_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,476},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>red_packets_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,366},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>red_packets_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,486},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>red_packets_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,491},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>red_packets_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,487},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>red_packets_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,476},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,366},{552,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,144}}</string>
                <key>sourceSize</key>
                <string>{552,144}</string>
            </dict>
            <key>tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{269,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,157}}</string>
                <key>sourceSize</key>
                <string>{269,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beijing_chunjie_texture.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbd122e702a79f16c26a7f07c8a81154$</string>
            <key>textureFileName</key>
            <string>beijing_chunjie_texture.png</string>
        </dict>
    </dict>
</plist>
