<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,130},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,177},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,175},{27,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,78}}</string>
                <key>sourceSize</key>
                <string>{27,78}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,177},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,177},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,80},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>TipsButtonliangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{242,76}}</string>
                <key>sourceSize</key>
                <string>{246,80}</string>
            </dict>
            <key>daoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,20}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>daxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,80},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>xinfaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,80},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>danjujiesuan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b21ec0beeb959261c85dfe149f5a3af$</string>
            <key>textureFileName</key>
            <string>danjujiesuan.png</string>
        </dict>
    </dict>
</plist>
