<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beam_gdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{76,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,148}}</string>
                <key>sourceSize</key>
                <string>{76,148}</string>
            </dict>
            <key>daquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>fangshexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,312}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{390,312}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>hongzigaoliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,316},{327,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,118}}</string>
                <key>sourceSize</key>
                <string>{331,120}</string>
            </dict>
            <key>huanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,436},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangyun2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7efc4aff9f1b6cf3a9076c49f363640e$</string>
            <key>textureFileName</key>
            <string>guangyun2.png</string>
        </dict>
    </dict>
</plist>
