<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raiden30458.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,197},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>Raidengold.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,104},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>baiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,31},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>banyuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,93},{114,80}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,80}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>baozhaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{152,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,150}}</string>
                <key>sourceSize</key>
                <string>{152,150}</string>
            </dict>
            <key>chongjiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,332},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>diguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,335},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>dilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,321},{146,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>ghagsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,209},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>guangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>guangfenwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,448},{62,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guanghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guangliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,93},{100,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,143}}</string>
                <key>sourceSize</key>
                <string>{100,143}</string>
            </dict>
            <key>guangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,195},{124,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{124,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>heiying.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,332},{102,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,60}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>hongguangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,290},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jiankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>kuosanguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,451},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>kuosanguangquanhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,451},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>languang.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,469},{50,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>liangguangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>saoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,332},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>saoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,448},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>shunziguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,27}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{401,27}}</string>
                <key>sourceSize</key>
                <string>{419,45}</string>
            </dict>
            <key>suguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,31},{60,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,220}}</string>
                <key>sourceSize</key>
                <string>{60,220}</string>
            </dict>
            <key>yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,394},{60,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangyun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce467c8e4abd4434b7e5e63c1cc97f1e$</string>
            <key>textureFileName</key>
            <string>guangyun.png</string>
        </dict>
    </dict>
</plist>
