<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S_star001c_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>daxing_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,323},{177,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,171}}</string>
                <key>sourceSize</key>
                <string>{177,171}</string>
            </dict>
            <key>fangsheguang_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,352},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>fasheguang_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,3},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>guangyun_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{345,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,336}}</string>
                <key>sourceSize</key>
                <string>{345,336}</string>
            </dict>
            <key>huangguang02_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,3},{316,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,253}}</string>
                <key>sourceSize</key>
                <string>{316,253}</string>
            </dict>
            <key>quan_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,323},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>quanquan_douzi_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,352},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{134,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>weibaguang_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,447},{229,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,38}}</string>
                <key>sourceSize</key>
                <string>{229,38}</string>
            </dict>
            <key>xing_commom.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,352},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guang_effect_commom.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6314df8693c7b0508fc99a4936208e5$</string>
            <key>textureFileName</key>
            <string>guang_effect_commom.png</string>
        </dict>
    </dict>
</plist>
