<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Glitter_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{232,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{232,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Glitter_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{236,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{236,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Trail072_emis3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{296,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{296,56}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>Trail072_emis4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,720},{180,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,25}}</string>
                <key>sourceSize</key>
                <string>{180,25}</string>
            </dict>
            <key>flare_core_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,244}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{244,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,747},{129,121}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{129,121}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>glow_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,870},{117,117}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{117,117}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>mingpai_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,858},{109,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,61}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>mingpai_txt_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,747},{109,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,61}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mingpai_Texture.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dac6a6f268a8f9d40b6a7bbf1bccac0$</string>
            <key>textureFileName</key>
            <string>mingpai_Texture.png</string>
        </dict>
    </dict>
</plist>
