<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aixin_jiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{146,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,126}}</string>
                <key>sourceSize</key>
                <string>{146,126}</string>
            </dict>
            <key>dizhu_jiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{122,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>jiangzhuang10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,124},{17,13}}</string>
                <key>offset</key>
                <string>{-73,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{17,13}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,194},{39,19}}</string>
                <key>offset</key>
                <string>{-63,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,52},{39,19}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,194},{51,19}}</string>
                <key>offset</key>
                <string>{-49,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{51,19}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,191},{55,19}}</string>
                <key>offset</key>
                <string>{-31,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,46},{55,19}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{57,17}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{57,17}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,57},{63,19}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,46},{63,19}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,124},{65,19}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,46},{65,19}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,121},{71,35}}</string>
                <key>offset</key>
                <string>{40,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,36},{71,35}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,150},{65,45}}</string>
                <key>offset</key>
                <string>{49,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,26},{65,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,150},{57,53}}</string>
                <key>offset</key>
                <string>{56,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,18},{57,53}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,189},{61,59}}</string>
                <key>offset</key>
                <string>{54,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,12},{61,59}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,57},{67,61}}</string>
                <key>offset</key>
                <string>{51,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,10},{67,61}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,181},{67,53}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,10},{67,53}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{67,53}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,10},{67,53}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,120},{67,53}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,10},{67,53}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,139},{67,51}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,11},{67,51}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,57},{65,51}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,11},{65,51}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,139},{65,51}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,11},{65,51}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,121},{3,3}}</string>
                <key>offset</key>
                <string>{83,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,59},{3,3}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>jiangzhuang10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,126},{1,3}}</string>
                <key>offset</key>
                <string>{83,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,59},{1,3}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>lizi_jiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,192},{55,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{55,63}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>maisui.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,57},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,206},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>shengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{43,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,117}}</string>
                <key>sourceSize</key>
                <string>{43,117}</string>
            </dict>
            <key>sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,53}}</string>
                <key>sourceSize</key>
                <string>{330,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic_jiangzhuang.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c22555ca78f2ac0b9deb55aad0bf8eb4$</string>
            <key>textureFileName</key>
            <string>Pic_jiangzhuang.png</string>
        </dict>
    </dict>
</plist>
