<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang_RenWu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,354},{125,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{125,70}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,282},{125,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{125,70}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,282},{127,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{127,76}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{127,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{127,78}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,190},{127,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{127,84}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,100},{127,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{127,88}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,276},{125,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{125,90}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{127,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{127,92}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,100},{127,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{127,94}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{127,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,96}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{125,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{125,96}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{127,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,96}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,129},{87,96}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{87,96}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>guang_RenWu0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,324},{87,88}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>saoguang_RenWu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,443},{64,30}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,196},{82,30}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{82,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,196},{92,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,260},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,228},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,196},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,411},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,411},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,250},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,218},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,292},{90,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{90,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{84,30}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{84,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{74,30}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{74,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,426},{68,30}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{68,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,228},{60,30}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{60,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,411},{54,30}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,5},{54,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,228},{48,30}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,426},{44,30}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,5},{44,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,426},{40,30}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,5},{40,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,472},{36,30}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,5},{36,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,468},{34,30}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,5},{34,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,426},{32,30}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,368},{32,30}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>saoguang_RenWu0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,460},{30,30}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic_RenWu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ffa290ac1c39742f3d087332f803ee$</string>
            <key>textureFileName</key>
            <string>Pic_RenWu.png</string>
        </dict>
    </dict>
</plist>
