<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianshi_MC0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,191},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,3},{1,1}}</string>
                <key>offset</key>
                <string>{-26.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,191},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,3},{1,1}}</string>
                <key>offset</key>
                <string>{-26.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,191},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,133},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,99},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,133},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,191},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,133},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,191},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,133},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,75},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,51},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,51},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,143},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,85},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,51},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,51},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,3},{1,1}}</string>
                <key>offset</key>
                <string>{-26.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,51},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,3},{1,1}}</string>
                <key>offset</key>
                <string>{-26.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,51},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,225},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,201},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,143},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,85},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,143},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,85},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,225},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,201},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,143},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,85},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,27},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>dianshi_MC0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,3},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_dianshi_MC.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d9413f5ebd00a418034b1ebe203d01$</string>
            <key>textureFileName</key>
            <string>pic_dianshi_MC.png</string>
        </dict>
    </dict>
</plist>
