<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,167},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>baiguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,158},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,191},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,167},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>dizhudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>dizhushaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,200},{47,41}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>gan.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{58,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,10}}</string>
                <key>sourceSize</key>
                <string>{58,10}</string>
            </dict>
            <key>guangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,34}}</string>
                <key>sourceSize</key>
                <string>{158,34}</string>
            </dict>
            <key>jinxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{126,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,111},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>maoziok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{54,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{54,43}</string>
            </dict>
            <key>xianquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,62},{103,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>xiaoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangdizhu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ccfdc3cf7db3ba4cd729d23dd908dbe$</string>
            <key>textureFileName</key>
            <string>qiangdizhu.png</string>
        </dict>
    </dict>
</plist>
