<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changshangsai_saoguang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,162},{71,29}}</string>
                <key>offset</key>
                <string>{39,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,42},{71,29}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,146},{65,45}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,27},{65,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{63,55}}</string>
                <key>offset</key>
                <string>{52,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,17},{63,55}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,75},{69,63}}</string>
                <key>offset</key>
                <string>{49,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,9},{69,63}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,83},{77,67}}</string>
                <key>offset</key>
                <string>{45,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,5},{77,67}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{79,59}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,4},{79,59}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,83},{79,59}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,4},{79,59}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,164},{79,59}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,4},{79,59}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,83},{79,59}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,4},{79,59}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,245},{9,3}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,5},{9,3}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,250},{3,3}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,4},{3,3}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,252},{3,1}}</string>
                <key>offset</key>
                <string>{82,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,61},{3,1}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>changshangsai_saoguang0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,252},{3,1}}</string>
                <key>offset</key>
                <string>{82,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,61},{3,1}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{71,37}}</string>
                <key>offset</key>
                <string>{39,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,34},{71,37}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,146},{65,45}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,27},{65,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,128},{59,51}}</string>
                <key>offset</key>
                <string>{54,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,21},{59,51}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,57},{61,53}}</string>
                <key>offset</key>
                <string>{53,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,19},{61,53}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{61,53}}</string>
                <key>offset</key>
                <string>{53,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,19},{61,53}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,112},{61,45}}</string>
                <key>offset</key>
                <string>{53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,18},{61,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,65},{61,45}}</string>
                <key>offset</key>
                <string>{53,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,18},{61,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{61,45}}</string>
                <key>offset</key>
                <string>{53,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,18},{61,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,250},{3,3}}</string>
                <key>offset</key>
                <string>{82,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,60},{3,3}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,252},{3,1}}</string>
                <key>offset</key>
                <string>{82,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,61},{3,1}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,252},{3,1}}</string>
                <key>offset</key>
                <string>{82,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,61},{3,1}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,252},{3,1}}</string>
                <key>offset</key>
                <string>{82,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,61},{3,1}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>dianhuasai_saoguang0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,245},{1,1}}</string>
                <key>offset</key>
                <string>{-87,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,162},{71,35}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,36},{71,35}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{65,45}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,27},{65,45}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,69},{63,55}}</string>
                <key>offset</key>
                <string>{52,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,17},{63,55}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{71,61}}</string>
                <key>offset</key>
                <string>{48,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,11},{71,61}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,164},{77,69}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,3},{77,69}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{79,63}}</string>
                <key>offset</key>
                <string>{44,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{79,63}}</string>
                <key>offset</key>
                <string>{44,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{79,63}}</string>
                <key>offset</key>
                <string>{44,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,63}}</string>
                <key>offset</key>
                <string>{44,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{7,9}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,245},{5,7}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,245},{3,5}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{3,5}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>shiwusai_saoguang0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,245},{3,3}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saoguang_pic.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1fe1403e66ecf40629f4915f7fae575$</string>
            <key>textureFileName</key>
            <string>saoguang_pic.png</string>
        </dict>
    </dict>
</plist>
