<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniudiok.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,79},{162,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,80}}</string>
                <key>sourceSize</key>
                <string>{162,84}</string>
            </dict>
            <key>baistar.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,263},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>chengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{277,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,74}}</string>
                <key>sourceSize</key>
                <string>{277,74}</string>
            </dict>
            <key>huangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{265,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,99}}</string>
                <key>sourceSize</key>
                <string>{265,99}</string>
            </dict>
            <key>kuang_xunbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{168,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,75}</string>
            </dict>
            <key>lvdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{265,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,93}}</string>
                <key>sourceSize</key>
                <string>{265,93}</string>
            </dict>
            <key>saoguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{47,59}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,59}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>saoguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,51},{37,59}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,59}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>saoguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,161},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>saoguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,175},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wujiaoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,263},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>xilanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,74}}</string>
                <key>sourceSize</key>
                <string>{277,74}</string>
            </dict>
            <key>xunbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,90},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuUI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a940b414af513900d87931ba8d30558$</string>
            <key>textureFileName</key>
            <string>zhuUI.png</string>
        </dict>
    </dict>
</plist>
