<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_zongfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{218,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,48}}</string>
                <key>sourceSize</key>
                <string>{224,54}</string>
            </dict>
            <key>saoguang_zongfen0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,85},{40,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,85},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,55},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,85},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,55},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,3},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,55},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,55},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,85},{44,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,85},{40,26}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>saoguang_zongfen0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,55},{34,26}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zongfensaoguang.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e52abb0b66c68e2c25a86f2e768df45$</string>
            <key>textureFileName</key>
            <string>zongfensaoguang.png</string>
        </dict>
    </dict>
</plist>
