<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saoguang_zuan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,163},{44,36}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,83},{48,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{48,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,43},{48,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{48,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,3},{50,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,171},{50,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,119},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,3},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,61},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,177},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,119},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,3},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,61},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,177},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,119},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,3},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,61},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,177},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,119},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,3},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,61},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,177},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,119},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,3},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,61},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,195},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,137},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,3},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,79},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,195},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,137},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,79},{54,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,61},{52,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{52,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,177},{52,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{52,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,117},{50,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{50,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,3},{50,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{50,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,43},{48,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,43},{48,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{48,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,3},{48,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{48,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,185},{46,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{46,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,135},{46,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{46,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,3},{46,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{46,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,211},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,163},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,123},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,123},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,171},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,123},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,83},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,83},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>saoguang_zuan0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,83},{44,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>xingguang_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{70,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{70,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zuan_Pic.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85057c5f837a2c71bacea9d7e196195f$</string>
            <key>textureFileName</key>
            <string>zuan_Pic.png</string>
        </dict>
    </dict>
</plist>
