<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_hqfk_flzxclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{232,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,108}}</string>
                <key>sourceSize</key>
                <string>{232,108}</string>
            </dict>
            <key>Btn_hqfk_flzxmousevoer.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,112},{244,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,114}}</string>
                <key>sourceSize</key>
                <string>{244,114}</string>
            </dict>
            <key>Btn_kstz_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,112},{244,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,114}}</string>
                <key>sourceSize</key>
                <string>{244,114}</string>
            </dict>
            <key>Btn_kstz_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{244,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,114}}</string>
                <key>sourceSize</key>
                <string>{244,114}</string>
            </dict>
            <key>Btn_kstz_normor.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,358},{244,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,114}}</string>
                <key>sourceSize</key>
                <string>{244,114}</string>
            </dict>
            <key>Frame_main_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,582},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>Icon_jjpw_dephclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,582},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Icon_jjpw_dephmouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,582},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Icon_jjpw_dephnormor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Icon_jjpw_pwjlclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,590},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Icon_jjpw_pwjlmouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,590},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Icon_jjpw_pwjlnormor.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,654},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>athletics_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>dadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>jingji_xuwan_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{242,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,106}}</string>
                <key>sourceSize</key>
                <string>{242,106}</string>
            </dict>
            <key>jingji_xuwan_btn_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,474},{242,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,106}}</string>
                <key>sourceSize</key>
                <string>{242,106}</string>
            </dict>
            <key>jingji_xuwan_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{242,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,106}}</string>
                <key>sourceSize</key>
                <string>{242,106}</string>
            </dict>
            <key>rank_page_btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,582},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>taodouchang_main_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,662},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>taodouchang_main_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,662},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_Main1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e759979ba116a05594dec81f8caa036f:2/2$</string>
            <key>textureFileName</key>
            <string>EXP_Main1.png</string>
        </dict>
    </dict>
</plist>
