<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bgbtn_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,876},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Bgbtn_click_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,876},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Bgbtn_jinru_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,876},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Bgbtn_jinru_2_mousover.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,876},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Bgbtn_jinru_3_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,876},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Bgbtn_mouseover_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,876},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Bgbtn_yibaoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Btn_huadong_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>Btn_huadong_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,47},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>Btn_huadong_normor.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,47},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>Btn_wenhao_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,982},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>Btn_wenhao_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,982},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>Icon_jjpw_huixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Icon_jjpw_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,47},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Icon_xuwan_ax.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>bgTZS_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,540}}</string>
                <key>sourceSize</key>
                <string>{330,540}</string>
            </dict>
            <key>bgTZS_choose_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{330,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,540}}</string>
                <key>sourceSize</key>
                <string>{330,540}</string>
            </dict>
            <key>btn_yeqian_buxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,973},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>btn_yeqian_buxi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,973},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>btn_yeqian_buxi_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,973},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>btn_yeqian_buxi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>btn_yeqian_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>icon_jjpw_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,71},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_jjpw_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,80},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jingdianIcon_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,80},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jingjixuanchang_xiaohongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,73},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>match_title_zss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>match_title_zss_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,876},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>match_title_zss_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,876},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>match_title_zss_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,876},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>tab_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,982},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_ChooseRoom2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99e631b1296d3d4eb6de8d7db516d888:3/3$</string>
            <key>textureFileName</key>
            <string>EXP_ChooseRoom2.png</string>
        </dict>
    </dict>
</plist>
