<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Changjing_ziti_saguao001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,111},{15,21}}</string>
                <key>offset</key>
                <string>{-60,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{15,21}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,39},{39,23}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,4},{39,23}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,27},{37,25}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,3},{37,25}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{35,25}}</string>
                <key>offset</key>
                <string>{33,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,4},{35,25}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,52},{35,25}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,10},{35,25}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{25,31}}</string>
                <key>offset</key>
                <string>{54,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,10},{25,31}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,98},{21,29}}</string>
                <key>offset</key>
                <string>{57,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,12},{21,29}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,105},{15,21}}</string>
                <key>offset</key>
                <string>{60,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,18},{15,21}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao002.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,79},{17,25}}</string>
                <key>offset</key>
                <string>{-59,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{17,25}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,80},{29,29}}</string>
                <key>offset</key>
                <string>{-52,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{29,29}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{35,29}}</string>
                <key>offset</key>
                <string>{-50,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{35,29}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao005.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,27},{41,23}}</string>
                <key>offset</key>
                <string>{-44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{41,23}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao006.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{47,23}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,23}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,23}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{51,23}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{35,21}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,4},{35,21}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>Changjing_ziti_saguao009.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{37,23}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,3},{37,23}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Changjing_saishi_ziti.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63bb65f6dbde8656fa929d99d27dc6ce$</string>
            <key>textureFileName</key>
            <string>Changjing_saishi_ziti.png</string>
        </dict>
    </dict>
</plist>
