<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Changjing_pinm_dh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{211,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,71}}</string>
                <key>sourceSize</key>
                <string>{211,71}</string>
            </dict>
            <key>Changjing_pinm_dh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{211,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,71}}</string>
                <key>sourceSize</key>
                <string>{211,71}</string>
            </dict>
            <key>Changjing_pinm_dh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,71}}</string>
                <key>sourceSize</key>
                <string>{211,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Changjing_saishi_pingmu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b856189a5df49694fabd834c2025c9$</string>
            <key>textureFileName</key>
            <string>Changjing_saishi_pingmu.png</string>
        </dict>
    </dict>
</plist>
