<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg_saishiduiju_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>Bg_saishiduiju_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,35},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>Bg_saishiduiju_lizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>Bg_saishiduiju_nongmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,65},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>Bg_saishiduiju_youguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{236,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>Bg_saishiduiju_zuoguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,145}}</string>
                <key>sourceSize</key>
                <string>{238,145}</string>
            </dict>
            <key>Bg_saishiduiju_zuoguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,70},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>Bg_youpaipai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>Bg_youpaipai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,35},{16,19}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>Bg_youpaipai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,127},{21,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>Bg_zuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,242},{7,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{7,18}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Changjing_suitu.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b2b6bcc03e4ec0121d4ef57705d5615$</string>
            <key>textureFileName</key>
            <string>Changjing_suitu.png</string>
        </dict>
    </dict>
</plist>
