<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandian__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{122,240}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,246}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,246}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{122,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{122,240}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{126,238}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{126,238}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{124,238}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{124,238}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,244},{126,238}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{126,238}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,242},{124,238}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{124,238}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,250},{126,240}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{126,240}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,242},{116,236}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{116,236}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,244}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{118,244}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,242},{104,220}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{104,220}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian__00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,218}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{102,218}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandian_y.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e12ea8772da8fff50c441515b5d2ec1$</string>
            <key>textureFileName</key>
            <string>shandian_y.png</string>
        </dict>
    </dict>
</plist>
