<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniubuyRole1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>anniubuyRole1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>anniubuyRole1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>anniubuyRole1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>bean_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,301},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>bubble_discount_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,939},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,28}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,152},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>chuzhan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>chuzhan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>chuzhan1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>chuzhan1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>dazhexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,1012},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,384},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>diban1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,538}}</string>
                <key>sourceSize</key>
                <string>{395,538}</string>
            </dict>
            <key>diban1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,542},{395,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,538}}</string>
                <key>sourceSize</key>
                <string>{395,538}</string>
            </dict>
            <key>douzi_RoleShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,301},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>fanyeanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,299},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>fanyeanniu1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,358},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>frame_jsyq_tiyanbiaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,384},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>frame_jsyq_tiyanbiaoqian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,939},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,176},{146,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,206}}</string>
                <key>sourceSize</key>
                <string>{146,206}</string>
            </dict>
            <key>guangbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,384},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>guangbi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,384},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>gundong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>gundong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>huaheng_Role.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,1008},{61,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,2}}</string>
                <key>sourceSize</key>
                <string>{61,2}</string>
            </dict>
            <key>huodongxianding.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,248},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>huoqu1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>huoqu1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>huoqu1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,384},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>huoqu1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,417},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>jiantou1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,939},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>jiantou1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,939},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>jiantou1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,939},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>jiantou1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,939},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,384},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>jingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{290,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,460}}</string>
                <key>sourceSize</key>
                <string>{290,460}</string>
            </dict>
            <key>jinyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,342},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>label_discount_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,939},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>msg_zhuanshuyuyin_store_Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,212},{34,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,87}}</string>
                <key>sourceSize</key>
                <string>{34,87}</string>
            </dict>
            <key>mz_10000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,939},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10010000.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,939},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10020000.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,939},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10030000.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,939},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10040000.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,939},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10050000.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,384},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10140000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,384},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10150000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10160000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,32},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_10170000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,62},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_12000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,92},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>mz_12010000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,122},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>shengji1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,428},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>shengji1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,472},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>shengji1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,516},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>shengji1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,525},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,384},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tips_bubble_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,176},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>tips_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,1004},{150,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,2}}</string>
                <key>sourceSize</key>
                <string>{150,2}</string>
            </dict>
            <key>tips_gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,301},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>tips_wujineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,384},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>tipsbg_shop_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{172,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,174}</string>
            </dict>
            <key>xiang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,176},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>xiang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,176},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>xiang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,212},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>xunbao1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,560},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>xunbao1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,604},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>xunbao1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,633},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>xunbao1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,648},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>zuans_RoleShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,301},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>zuanshi_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,384},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_RoleShop0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:261a62ec4477fd9c984d2208ce1e4d04:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_RoleShop0.png</string>
        </dict>
    </dict>
</plist>
