<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,34},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>2019_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>chengbao_glow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,118},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>chengbao_glow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,223},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>chengbao_glow03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,91},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>chengbao_glow04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,58},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>chun_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,496},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>da_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,265},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>dizhu_nihongdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,178},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ji_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,217},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>liushui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,500},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,494},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,506},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,500},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,494},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,506},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,500},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,494},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,506},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,500},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,494},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,411},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,411},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,411},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>liushui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,411},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>nian_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,69},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>shuihua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,498},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{11,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,498},{11,7}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,498},{11,7}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,498},{11,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,496},{13,7}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,496},{13,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,494},{15,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,496},{15,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,498},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,498},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,496},{13,5}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{13,5}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,505},{7,5}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,505},{7,5}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>shuihua_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,496},{9,5}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>xin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,507},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>xin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,496},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>yanhua_baodian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,148},{31,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{31,33}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,179},{47,49}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{47,49}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,63},{53,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{53,57}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{59,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{59,65}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{65,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{65,71}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,417},{71,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,75}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{73,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,79}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{75,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,417},{75,77}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,77}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_baodian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,334},{73,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>yanhua_shangsheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,118},{19,20}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,58},{19,20}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,34},{19,22}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,55},{19,22}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,313},{21,26}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{21,26}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,107},{21,28}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,47},{21,28}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,183},{21,32}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,43},{21,32}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,148},{21,36}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{21,36}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,187},{21,38}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{21,38}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,274},{21,42}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{21,42}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,228},{21,44}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{21,44}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,278},{21,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{21,46}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,156},{21,50}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{21,50}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,228},{21,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{21,48}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,55},{21,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{21,50}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,227},{19,42}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{19,42}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,139},{19,46}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{19,46}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,278},{21,48}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,228},{21,48}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>yanhua_shangsheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,271},{21,40}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>zhu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,148},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>zhujiao_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,186},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>zhuti_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,107},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_chunjiechangjing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db73819bc660f085716938bd0e9fcbd3$</string>
            <key>textureFileName</key>
            <string>tx_chunjiechangjing.png</string>
        </dict>
    </dict>
</plist>
