<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_cj_chunjie_yanhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,172},{121,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,80}}</string>
                <key>sourceSize</key>
                <string>{121,80}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_bianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,628},{78,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,147}}</string>
                <key>sourceSize</key>
                <string>{78,147}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,207},{221,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,158}}</string>
                <key>sourceSize</key>
                <string>{221,158}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_maozi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,628},{79,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{79,56}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_maozi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,713},{92,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_shentipng.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,821},{262,201}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{262,201}}</string>
                <key>sourceSize</key>
                <string>{270,207}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,820},{135,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,114}}</string>
                <key>sourceSize</key>
                <string>{135,114}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{221,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,203}}</string>
                <key>sourceSize</key>
                <string>{221,203}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{163,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,77}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_wujing.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,883},{141,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,115}}</string>
                <key>sourceSize</key>
                <string>{141,115}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_wujing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{168,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,81}}</string>
                <key>sourceSize</key>
                <string>{168,81}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,709},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>Tx_cj_zhunian_dizhu_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,373},{128,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,73}}</string>
                <key>sourceSize</key>
                <string>{130,73}</string>
            </dict>
            <key>Tx_cj_zhunian_doupeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{241,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,193}}</string>
                <key>sourceSize</key>
                <string>{241,193}</string>
            </dict>
            <key>Tx_cj_zhunian_douzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,539},{150,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,170}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>Tx_cj_zhunian_douzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,81},{119,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,122}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>Tx_cj_zhunian_douzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,417}}</string>
                <key>sourceSize</key>
                <string>{327,417}</string>
            </dict>
            <key>Tx_cj_zhunian_douzi03_shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,361},{132,199}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,199}}</string>
                <key>sourceSize</key>
                <string>{132,205}</string>
            </dict>
            <key>Tx_cj_zhunian_douzi03_shanzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,367},{170,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,175}}</string>
                <key>sourceSize</key>
                <string>{170,175}</string>
            </dict>
            <key>Tx_cj_zhunian_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,495},{59,131}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{59,131}}</string>
                <key>sourceSize</key>
                <string>{59,145}</string>
            </dict>
            <key>Tx_cj_zhunian_hudie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,98},{15,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{15,15}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>Tx_cj_zhunian_hudie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,98},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>Tx_cj_zhunian_hudie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,81},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>Tx_cj_zhunian_hudie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,81},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>Tx_cj_zhunian_nm_maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,828},{204,181}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,181}}</string>
                <key>sourceSize</key>
                <string>{204,185}</string>
            </dict>
            <key>Tx_cj_zhunian_nm_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,711},{170,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,164}}</string>
                <key>sourceSize</key>
                <string>{170,164}</string>
            </dict>
            <key>Tx_cj_zhunian_nm_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,539},{172,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,155}}</string>
                <key>sourceSize</key>
                <string>{172,155}</string>
            </dict>
            <key>Tx_cj_zhunian_nm_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,708},{63,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,94}}</string>
                <key>sourceSize</key>
                <string>{63,94}</string>
            </dict>
            <key>Tx_cj_zhunian_nm_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,719},{100,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>Tx_cj_zhunian_pao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,539},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>Tx_cj_zhunian_pao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,719},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>Tx_cj_zhunian_pig_douzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,203},{213,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,175}}</string>
                <key>sourceSize</key>
                <string>{213,175}</string>
            </dict>
            <key>Tx_cj_zhunian_pig_jinzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{214,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,199}}</string>
                <key>sourceSize</key>
                <string>{214,199}</string>
            </dict>
            <key>Tx_cj_zhunian_pigdouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,421},{296,166}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{296,166}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>Tx_cj_zhunian_pigdouzi_youer.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,936},{90,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>Tx_cj_zhunian_pigdouzi_zuoer.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,295},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Tx_cj_zhunian_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{324,405}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,405}}</string>
                <key>sourceSize</key>
                <string>{328,405}</string>
            </dict>
            <key>Tx_cj_zhunian_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,203},{205,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,156}}</string>
                <key>sourceSize</key>
                <string>{205,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_cj_zhunian_juese_tuji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4550a485ad325d7c16ee4ded6688278e$</string>
            <key>textureFileName</key>
            <string>Tx_cj_zhunian_juese_tuji.png</string>
        </dict>
    </dict>
</plist>
