<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circleClose_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,431},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>circleClose_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,431},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>circleClose_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,431},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dangqianBg_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{109,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>jiangpinBg_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,271},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>lqjl_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,271},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>lqjl_click_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,327},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>lqjl_disabled_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,383},{118,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,42}}</string>
                <key>sourceSize</key>
                <string>{118,42}</string>
            </dict>
            <key>lqjl_mouseover_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,351},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>mbBG_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{323,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,503}}</string>
                <key>sourceSize</key>
                <string>{323,503}</string>
            </dict>
            <key>mengban_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{94,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,116}}</string>
                <key>sourceSize</key>
                <string>{94,116}</string>
            </dict>
            <key>normalBg_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,893},{109,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>panel_ljdjl_ddz_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{674,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,82}}</string>
                <key>sourceSize</key>
                <string>{674,82}</string>
            </dict>
            <key>panel_ljdjl_dizx.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,122},{203,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,286}}</string>
                <key>sourceSize</key>
                <string>{203,286}</string>
            </dict>
            <key>panel_ljdjl_dmb_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{304,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,82}}</string>
                <key>sourceSize</key>
                <string>{304,82}</string>
            </dict>
            <key>panel_ljdjl_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,389},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>panel_ljdjl_sd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,893},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>panel_ljdjl_sd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,197},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>panel_ljdjl_sd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,327},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>panel_ljdjl_sd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,86},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>panel_ljdjl_xdb_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,197},{273,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,72}}</string>
                <key>sourceSize</key>
                <string>{273,72}</string>
            </dict>
            <key>pic_ljdjl_dd_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,415},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>queding_click_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,923},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>queding_mouseover_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,327},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>queding_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,893},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>queding_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,503},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>tipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,122},{73,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,276}}</string>
                <key>sourceSize</key>
                <string>{73,276}</string>
            </dict>
            <key>titleTips_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,507},{384,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,136}}</string>
                <key>sourceSize</key>
                <string>{384,136}</string>
            </dict>
            <key>title_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{418,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,85}}</string>
                <key>sourceSize</key>
                <string>{418,85}</string>
            </dict>
            <key>title_ljdjl_wenzi_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,86},{562,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,34}}</string>
                <key>sourceSize</key>
                <string>{562,34}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>touminggaudian_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>yiling_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,327},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>zuansai_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,361},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_NewbieGift_pc0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efcc2ec6a0f6d32072d04b47682f0d5f:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_NewbieGift_pc0.png</string>
        </dict>
    </dict>
</plist>
