<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_jian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,198},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Btn_jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,551},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Btn_jian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,994},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Btn_jian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,994},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Btn_youhuigoumai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,718},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,824},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>anniu7_2_tab_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,164},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>anniu7_3_tab_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,299},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>anniu7_4_tab_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,299},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>chakan1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,458},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>chakan1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>chakan1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,458},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>chakan1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,458},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>close_SZ_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,454},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>close_click_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,615},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>close_mouseover_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,655},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>deng1_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,500},{116,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,95}}</string>
                <key>sourceSize</key>
                <string>{116,95}</string>
            </dict>
            <key>deng2_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,230},{229,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,67}}</string>
                <key>sourceSize</key>
                <string>{229,67}</string>
            </dict>
            <key>deng3_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,454},{262,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,63}}</string>
                <key>sourceSize</key>
                <string>{262,63}</string>
            </dict>
            <key>di_shangpin_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,519},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>doudou_title_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{116,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,94}}</string>
                <key>sourceSize</key>
                <string>{116,94}</string>
            </dict>
            <key>douzuanBG_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>duihuan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,458},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>duihuan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,961},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>duihuan1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,961},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>duihuan1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,961},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>duosong.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,164},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>duosongBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,164},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>hdqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,551},{152,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,41}}</string>
                <key>sourceSize</key>
                <string>{152,41}</string>
            </dict>
            <key>huaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,86},{87,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,1}}</string>
                <key>sourceSize</key>
                <string>{87,1}</string>
            </dict>
            <key>jiajianBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,164},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>jiaobiao_cuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,708},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>jiazi_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,458},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>jihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,695},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>jihuo1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,961},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuo1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,961},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuo1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,961},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuo1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,888},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>kong_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,519},{606,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,440}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>qipao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,86},{124,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>sc_flzx_jdt_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,116},{112,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,23}}</string>
                <key>sourceSize</key>
                <string>{112,23}</string>
            </dict>
            <key>sc_flzx_jdtd_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{112,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,21}}</string>
                <key>sourceSize</key>
                <string>{112,21}</string>
            </dict>
            <key>sc_flzx_jxz_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>sc_flzx_lqfkclick_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,930},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>sc_flzx_lqfkmouseover_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,786},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>sc_flzx_lqfkno_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,820},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>sc_flzx_lqfknormal_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,854},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>sc_flzx_ylq_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,996},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>shangcheng_BG1_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,594},{428,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,110}}</string>
                <key>sourceSize</key>
                <string>{428,110}</string>
            </dict>
            <key>shangcheng_BG2_1_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{418,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,656}}</string>
                <key>sourceSize</key>
                <string>{418,656}</string>
            </dict>
            <key>shangcheng_BG3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,704},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>shangcheng_BG3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,171},{192,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>shangcheng_BG3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{66,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,376}}</string>
                <key>sourceSize</key>
                <string>{66,376}</string>
            </dict>
            <key>shangcheng_biaoti_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,365},{302,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,87}}</string>
                <key>sourceSize</key>
                <string>{302,87}</string>
            </dict>
            <key>shangmengban_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,594},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>shangpinBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{79,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,201}}</string>
                <key>sourceSize</key>
                <string>{79,201}</string>
            </dict>
            <key>shangpinBgDiBanCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,83},{79,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,201}}</string>
                <key>sourceSize</key>
                <string>{79,201}</string>
            </dict>
            <key>shangpin_diban_guang_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,125},{123,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,44}}</string>
                <key>sourceSize</key>
                <string>{123,44}</string>
            </dict>
            <key>shangpin_diban_yuan_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,618},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>shangpin_yuan_xiao_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,410},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>shengzi_tab_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,230},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>tab_fengexian_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,38},{2,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,54}}</string>
                <key>sourceSize</key>
                <string>{2,54}</string>
            </dict>
            <key>titile_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,888},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>touyin_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,38},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>xiamengban_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,34}}</string>
                <key>sourceSize</key>
                <string>{794,34}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,461},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>xuanzhong_dazhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,780},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xuanzhong_xianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,852},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xuanzhong_xianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,924},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zuanicon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,364},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_New_Shop_PC0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2ee58173aead0db1c257a48dd83f15:1/2$</string>
            <key>textureFileName</key>
            <string>EXP_New_Shop_PC0.png</string>
        </dict>
    </dict>
</plist>
