<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chat/bg_biaoqing02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{48,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{48,198}}</string>
				<key>sourceSize</key>
				<string>{48,198}</string>
			</dict>
			<key>chat/biaoqing_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,162},{108,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{108,41}}</string>
				<key>sourceSize</key>
				<string>{108,41}</string>
			</dict>
			<key>chat/biaoqing_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,248},{108,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{108,41}}</string>
				<key>sourceSize</key>
				<string>{108,41}</string>
			</dict>
			<key>chat/biaoqing_mouseover.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,234},{108,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{108,41}}</string>
				<key>sourceSize</key>
				<string>{108,41}</string>
			</dict>
			<key>chat/biaoqing_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,272},{108,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{108,41}}</string>
				<key>sourceSize</key>
				<string>{108,41}</string>
			</dict>
			<key>chat/chatBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,275},{32,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{32,38}}</string>
				<key>sourceSize</key>
				<string>{32,38}</string>
			</dict>
			<key>chat/fengexian_cyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2},{10,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{10,2}}</string>
				<key>sourceSize</key>
				<string>{10,2}</string>
			</dict>
			<key>chat/frame_hytw_bqk.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,74},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>chat/huiche_click_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,309},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>chat/huiche_disable_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,339},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>chat/huiche_main_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,344},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>chat/huiche_mouseover_playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,374},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>chat/jiantou_benju.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,124},{28,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{28,20}}</string>
				<key>sourceSize</key>
				<string>{28,20}</string>
			</dict>
			<key>chat/shouqi_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{242,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{242,22}}</string>
				<key>sourceSize</key>
				<string>{242,22}</string>
			</dict>
			<key>chat/shouqi_mouseover.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,26},{242,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{242,22}}</string>
				<key>sourceSize</key>
				<string>{242,22}</string>
			</dict>
			<key>chat/shouqi_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,50},{242,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{242,22}}</string>
				<key>sourceSize</key>
				<string>{242,22}</string>
			</dict>
			<key>chat/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,124},{176,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{176,36}}</string>
				<key>sourceSize</key>
				<string>{176,36}</string>
			</dict>
			<key>chat/xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,2},{1,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{1,41}}</string>
				<key>sourceSize</key>
				<string>{1,41}</string>
			</dict>
			<key>chat/xianh.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,2},{1,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{1,41}}</string>
				<key>sourceSize</key>
				<string>{1,41}</string>
			</dict>
			<key>chat/yuyin_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,121},{111,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{111,41}}</string>
				<key>sourceSize</key>
				<string>{111,41}</string>
			</dict>
			<key>chat/yuyin_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,162},{111,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{111,41}}</string>
				<key>sourceSize</key>
				<string>{111,41}</string>
			</dict>
			<key>chat/yuyin_mouseover.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,162},{111,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceColorRect</key>
				<string>{{0,0},{111,41}}</string>
				<key>sourceSize</key>
				<string>{111,41}</string>
			</dict>
			<key>chat/yuyin_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,205},{111,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{111,41}}</string>
				<key>sourceSize</key>
				<string>{111,41}</string>
			</dict>
			<key>chat/zhankai_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,291},{100,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{100,24}}</string>
				<key>sourceSize</key>
				<string>{100,24}</string>
			</dict>
			<key>chat/zhankai_mouseover.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,317},{100,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{100,24}}</string>
				<key>sourceSize</key>
				<string>{100,24}</string>
			</dict>
			<key>chat/zhankai_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,343},{100,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{100,24}}</string>
				<key>sourceSize</key>
				<string>{100,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>chat0.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:80fee031c0cd2fd46b4492ca9de855e1:1/1$</string>
			<key>textureFileName</key>
			<string>chat0.png</string>
		</dict>
	</dict>
</plist>
