<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icontips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,168},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>add_click_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_mouseover_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_normal_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,582},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>beanBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,270},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,48},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>benju.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,88},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>bg_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,240}}</string>
                <key>sourceSize</key>
                <string>{44,240}</string>
            </dict>
            <key>bg_benju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{44,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,120}}</string>
                <key>sourceSize</key>
                <string>{44,120}</string>
            </dict>
            <key>bottomBg_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,202},{666,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,90}}</string>
                <key>sourceSize</key>
                <string>{666,90}</string>
            </dict>
            <key>bujiesuandz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{102,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,24}}</string>
                <key>sourceSize</key>
                <string>{102,24}</string>
            </dict>
            <key>dibushengdian_duodouchang_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,231},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>douzi_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,542},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>dz_icon_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,316},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>fengexian_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,55},{2,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,46}}</string>
                <key>sourceSize</key>
                <string>{2,46}</string>
            </dict>
            <key>fenshu_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,128},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>gaoguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,48},{112,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,2}}</string>
                <key>sourceSize</key>
                <string>{112,2}</string>
            </dict>
            <key>gaoguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{172,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,5}}</string>
                <key>sourceSize</key>
                <string>{172,5}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>heart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,59},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>heart02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,105},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>heartBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,151},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>jipaiqi_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>jipaiqi_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>jipaiqi_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>jipaiqi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>lanzuanIcon_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,101},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>nechengBG_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>paiming_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,191},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>paixu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>paixu_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>paixu_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>paixu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,270},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>shanglun_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,316},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>shanglun_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,362},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>shanglun_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,408},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>shanglun_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,454},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>tips_chaoshituoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,614},{351,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,32}}</string>
                <key>sourceSize</key>
                <string>{351,32}</string>
            </dict>
            <key>tips_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,250},{290,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,34}}</string>
                <key>sourceSize</key>
                <string>{290,34}</string>
            </dict>
            <key>title_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>tuoguan_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,500},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>tuoguan_di_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{9,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,188}}</string>
                <key>sourceSize</key>
                <string>{9,188}</string>
            </dict>
            <key>tuoguan_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>tuoguan_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,546},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>tuoguan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,592},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>yearVip_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,115},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_InGame_BottomBar0.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:973253781b7bfd47442df431c7368ae6:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_InGame_BottomBar0.png</string>
        </dict>
    </dict>
</plist>
