<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bgtx_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,365},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>Img_Spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,365},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>Tx_duiju_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{459,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,62}}</string>
                <key>sourceSize</key>
                <string>{459,62}</string>
            </dict>
            <key>baomingBg_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{234,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,396}}</string>
                <key>sourceSize</key>
                <string>{234,396}</string>
            </dict>
            <key>baomingCli_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,811},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>baomingDis_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,611},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>baomingMou_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,811},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>baomingNor_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,611},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>baomingbg_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,171},{64,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,169}}</string>
                <key>sourceSize</key>
                <string>{64,169}</string>
            </dict>
            <key>baomingcg_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,464},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bg_guize_duodouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,231},{233,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,382}}</string>
                <key>sourceSize</key>
                <string>{233,382}</string>
            </dict>
            <key>bg_guizejiangli_duodouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,553},{355,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,44}}</string>
                <key>sourceSize</key>
                <string>{355,44}</string>
            </dict>
            <key>bmnextCli_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,811},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>bmnextDis_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,611},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>bmnextMou_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,407},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>bmnextNor_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,407},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>cup_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,403},{146,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,206}}</string>
                <key>sourceSize</key>
                <string>{146,206}</string>
            </dict>
            <key>djzBg_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,237},{166,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,46}}</string>
                <key>sourceSize</key>
                <string>{166,46}</string>
            </dict>
            <key>djz_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,135},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>douheart_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,111},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,120}}</string>
                <key>sourceSize</key>
                <string>{52,120}</string>
            </dict>
            <key>gaoguangB01_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,253},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
            <key>gaoguangL01_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,362},{12,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,97}}</string>
                <key>sourceSize</key>
                <string>{12,97}</string>
            </dict>
            <key>gaoguangL02_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,129},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>gaoguangR01_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,302},{31,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,80}}</string>
                <key>sourceSize</key>
                <string>{31,80}</string>
            </dict>
            <key>guizebg_duodouchang_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,66},{61,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,137}}</string>
                <key>sourceSize</key>
                <string>{61,137}</string>
            </dict>
            <key>guizebg_small_duodouchang_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,302},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>guizebtnUp_duodouchang_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,365},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>guizebtn_duodouchang_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,530},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,407},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>heart02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,407},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_jjpw_doushi_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,562},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>icon_jjpw_doushi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,530},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>icon_jjpw_star_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,466},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_jjpw_star_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,466},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>img_jingji_dropheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,803},{214,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,72}}</string>
                <key>sourceSize</key>
                <string>{214,72}</string>
            </dict>
            <key>img_jingji_progress_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,311},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>img_jingji_progress_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{425,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,131}}</string>
                <key>sourceSize</key>
                <string>{425,131}</string>
            </dict>
            <key>img_jingji_progress_going.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,135},{387,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,13}}</string>
                <key>sourceSize</key>
                <string>{387,13}</string>
            </dict>
            <key>img_jingji_progress_have.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,150},{387,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,13}}</string>
                <key>sourceSize</key>
                <string>{387,13}</string>
            </dict>
            <key>jindu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,285},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>jindu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,339},{314,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,24}}</string>
                <key>sourceSize</key>
                <string>{314,24}</string>
            </dict>
            <key>jingjiZF_bg_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,165},{384,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,64}}</string>
                <key>sourceSize</key>
                <string>{384,64}</string>
            </dict>
            <key>jingjiZF_bg_playing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,611},{327,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,37}}</string>
                <key>sourceSize</key>
                <string>{327,37}</string>
            </dict>
            <key>jt_qipao_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,111},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>left_douzi_duodouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
            <key>qipao_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,461},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>renshu_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,503},{306,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,27}}</string>
                <key>sourceSize</key>
                <string>{306,27}</string>
            </dict>
            <key>right_douzi_duodouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,285},{116,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,152}}</string>
                <key>sourceSize</key>
                <string>{116,152}</string>
            </dict>
            <key>shangla_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,326},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>shaohou_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{202,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,26}}</string>
                <key>sourceSize</key>
                <string>{202,26}</string>
            </dict>
            <key>tipsBg01_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,365},{40,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{40,88}</string>
            </dict>
            <key>title_duodouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,302},{133,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,31}}</string>
                <key>sourceSize</key>
                <string>{133,31}</string>
            </dict>
            <key>top_timer_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>top_timer_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,512},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>top_timer_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>top_timer_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>top_timer_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>top_timer_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,205},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>touyinL_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{86,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,190}}</string>
                <key>sourceSize</key>
                <string>{86,190}</string>
            </dict>
            <key>touyinR_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,611},{50,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,190}}</string>
                <key>sourceSize</key>
                <string>{50,190}</string>
            </dict>
            <key>tuisaiCli_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,365},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>tuisaiDis_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,466},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>tuisaiMou_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,466},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>tuisaiNor_saishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,538},{186,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,70}}</string>
                <key>sourceSize</key>
                <string>{186,70}</string>
            </dict>
            <key>xiala_tzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,344},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_InGame_Widget0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa4f23320c53366899fd58aaacb383fa:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_InGame_Widget0.png</string>
        </dict>
    </dict>
</plist>
