<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,398},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>close_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,398},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,398},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,442},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>diban_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dlzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,156},{71,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,28}}</string>
                <key>sourceSize</key>
                <string>{71,28}</string>
            </dict>
            <key>lzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,229},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>titleBg_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,58}}</string>
                <key>sourceSize</key>
                <string>{248,58}</string>
            </dict>
            <key>title_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{98,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,36}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>tlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{166,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,215}}</string>
                <key>sourceSize</key>
                <string>{166,215}</string>
            </dict>
            <key>xdlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{166,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,215}}</string>
                <key>sourceSize</key>
                <string>{166,215}</string>
            </dict>
            <key>xdlzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,62},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>xuanpaiBg_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,279},{152,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,198}}</string>
                <key>sourceSize</key>
                <string>{152,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_laiziwanfa_PC0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f29316b562adcaa2188072eede9021a:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_laiziwanfa_PC0.png</string>
        </dict>
    </dict>
</plist>
