<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99+_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,413},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>S_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,80},{286,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,160}}</string>
                <key>sourceSize</key>
                <string>{286,160}</string>
            </dict>
            <key>Tipsdi_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,26},{301,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,34}}</string>
                <key>sourceSize</key>
                <string>{301,34}</string>
            </dict>
            <key>V_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,242},{286,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,156}}</string>
                <key>sourceSize</key>
                <string>{286,156}</string>
            </dict>
            <key>backIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,854},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>backIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,854},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>backIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,854},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>bg_fanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,973},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>ccShuiYin.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,62},{298,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,16}}</string>
                <key>sourceSize</key>
                <string>{298,16}</string>
            </dict>
            <key>clock_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,577},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>closeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,854},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>closeIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,854},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>closeIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,854},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>cuohe02_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,85},{133,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,22}}</string>
                <key>sourceSize</key>
                <string>{133,22}</string>
            </dict>
            <key>cuohe_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,220},{133,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,22}}</string>
                <key>sourceSize</key>
                <string>{133,22}</string>
            </dict>
            <key>di_tips_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,400},{320,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,67}}</string>
                <key>sourceSize</key>
                <string>{320,67}</string>
            </dict>
            <key>dipaiBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,260},{30,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,110}}</string>
                <key>sourceSize</key>
                <string>{30,110}</string>
            </dict>
            <key>dizhuBg_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{672,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,198}}</string>
                <key>sourceSize</key>
                <string>{672,198}</string>
            </dict>
            <key>douzi_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,204},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{2,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,23}}</string>
                <key>sourceSize</key>
                <string>{2,23}</string>
            </dict>
            <key>gameIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,884},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>geshubj.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,469},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>gonggaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,482},{210,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,28}}</string>
                <key>sourceSize</key>
                <string>{210,28}</string>
            </dict>
            <key>gou_rw_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,666},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>guang_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{592,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,588}}</string>
                <key>sourceSize</key>
                <string>{592,588}</string>
            </dict>
            <key>jiantou_fanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,244},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>jifen_grzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,380},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>jindutiao_rw_1_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,62},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>jindutiao_rw_2_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,402},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>jindutiao_rw_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,854},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>maxIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,886},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>maxIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,984},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>maxIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,537},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>miao_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,355},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>miniIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,537},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>miniIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,537},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>miniIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,537},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>nongminBg_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,200}}</string>
                <key>sourceSize</key>
                <string>{708,200}</string>
            </dict>
            <key>noticeIcon_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,372},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>paiL_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,917},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>paiR_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,469},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>qiapao_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,886},{109,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>qiapaoyou_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,886},{109,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>qipao02_inGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,577},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>qipao_fanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,973},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>settingIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,694},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>settingIcon_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,758},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>settingIcon_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,822},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>shendian_grzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,924},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>shuiyin_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,404},{260,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,81}}</string>
                <key>sourceSize</key>
                <string>{260,81}</string>
            </dict>
            <key>suduxianL_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{306,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,6}}</string>
                <key>sourceSize</key>
                <string>{306,6}</string>
            </dict>
            <key>suduxianR_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,10},{306,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,6}}</string>
                <key>sourceSize</key>
                <string>{306,6}</string>
            </dict>
            <key>suduxianY_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,18},{306,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,6}}</string>
                <key>sourceSize</key>
                <string>{306,6}</string>
            </dict>
            <key>sui02_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>suidian_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,666},{368,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,186}}</string>
                <key>sourceSize</key>
                <string>{368,186}</string>
            </dict>
            <key>titleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,452},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,26},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>tuifang_click_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,469},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tuifang_mouseover_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,575},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tuifang_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,469},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tuoguanIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,469},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>viphh0.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,790},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>viphh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,938},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,955},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,972},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,989},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1006},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1006},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1006},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>viphh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,902},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>viphh9.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,920},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>vippt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,822},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>vippt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1006},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1006},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,694},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,710},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,726},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,742},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,758},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>vippt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,774},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>waitMulti.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,998},{200,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,18}}</string>
                <key>sourceSize</key>
                <string>{200,18}</string>
            </dict>
            <key>xinxidiban_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,854},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>yearVip_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,806},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>yinying_scene.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,998},{18,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,384}}</string>
                <key>sourceSize</key>
                <string>{18,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_InGame_Playing0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a8049e38bdcd80a9b9c75234b2de69:1/2$</string>
            <key>textureFileName</key>
            <string>EXP_InGame_Playing0.png</string>
        </dict>
    </dict>
</plist>
