<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_jjjpwjs_jxnormor.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,812},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>Btn_jsyq_chakanclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,533},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>Frame_sjjl_dadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,363}}</string>
                <key>sourceSize</key>
                <string>{860,363}</string>
            </dict>
            <key>Frame_sjjl_toumingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,658},{140,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,22}}</string>
                <key>sourceSize</key>
                <string>{140,22}</string>
            </dict>
            <key>Img_background_tiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,658},{360,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,39}}</string>
                <key>sourceSize</key>
                <string>{360,39}</string>
            </dict>
            <key>Txt_sjjl_taitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,140},{330,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,150}}</string>
                <key>sourceSize</key>
                <string>{330,150}</string>
            </dict>
            <key>bg_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{450,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,530}}</string>
                <key>sourceSize</key>
                <string>{450,530}</string>
            </dict>
            <key>bg_fight_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,367},{250,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,97}}</string>
                <key>sourceSize</key>
                <string>{250,97}</string>
            </dict>
            <key>bg_show_NewRoles.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,466},{446,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,400}}</string>
                <key>sourceSize</key>
                <string>{446,400}</string>
            </dict>
            <key>btn_wzdnormal_fulizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,812},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>frame_jsyq_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,472},{161,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,59}}</string>
                <key>sourceSize</key>
                <string>{161,59}</string>
            </dict>
            <key>gengxinlibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,17}}</string>
                <key>sourceSize</key>
                <string>{65,17}</string>
            </dict>
            <key>j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,74},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>pic_jjpw_jinjisucess1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{290,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,100}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,598},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,746},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>shengdian_chuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,367},{124,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>top_title_NewRoles.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{158,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,70}}</string>
                <key>sourceSize</key>
                <string>{158,70}</string>
            </dict>
            <key>top_title_bg_NewRoles.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,367},{190,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,88}}</string>
                <key>sourceSize</key>
                <string>{190,88}</string>
            </dict>
            <key>txt_jsyq_huosetiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,914},{386,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,87}}</string>
                <key>sourceSize</key>
                <string>{386,87}</string>
            </dict>
            <key>wupinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,658},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>xinshoulibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1004},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,17}}</string>
                <key>sourceSize</key>
                <string>{65,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_RewardDialog1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46fd2381ffc0259d84d7aae1e8636c4:2/4$</string>
            <key>textureFileName</key>
            <string>EXP_RewardDialog1.png</string>
        </dict>
    </dict>
</plist>
