<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6y_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,716},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>Btn_jsyq_chakanmouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,845},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>Btn_jsyq_chakannormor.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,910},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>Img_Jingji_Badge_Zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,432},{67,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,10}}</string>
                <key>sourceSize</key>
                <string>{67,10}</string>
            </dict>
            <key>StarMoreBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,769},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,530}}</string>
                <key>sourceSize</key>
                <string>{900,530}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{900,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,180}}</string>
                <key>sourceSize</key>
                <string>{900,180}</string>
            </dict>
            <key>close_btn_down_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,975},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_btn_mouseover_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,716},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_btn_normal_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,716},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>gaoguang_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,501},{137,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,14}}</string>
                <key>sourceSize</key>
                <string>{137,14}</string>
            </dict>
            <key>gongxihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{251,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,62}}</string>
                <key>sourceSize</key>
                <string>{251,62}</string>
            </dict>
            <key>huodemianban_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,768},{732,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,254}}</string>
                <key>sourceSize</key>
                <string>{732,254}</string>
            </dict>
            <key>j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,368},{110,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,62}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>line_jjpw_success1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,716},{414,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,46}}</string>
                <key>sourceSize</key>
                <string>{414,46}</string>
            </dict>
            <key>pai05_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{364,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,110}}</string>
                <key>sourceSize</key>
                <string>{364,110}</string>
            </dict>
            <key>pic_jjpw_maisui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,716},{202,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,34}}</string>
                <key>sourceSize</key>
                <string>{202,34}</string>
            </dict>
            <key>picjjpw_shengxingsucess1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,477},{290,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,100}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,975},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>sidai_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,845},{176,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,69}}</string>
                <key>sourceSize</key>
                <string>{176,69}</string>
            </dict>
            <key>slogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,432},{104,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,43}}</string>
                <key>sourceSize</key>
                <string>{104,43}</string>
            </dict>
            <key>tiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{120,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,1}}</string>
                <key>sourceSize</key>
                <string>{120,1}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_RewardDialog0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46fd2381ffc0259d84d7aae1e8636c4:1/4$</string>
            <key>textureFileName</key>
            <string>EXP_RewardDialog0.png</string>
        </dict>
    </dict>
</plist>
