<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_qushiyong_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{136,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,59}}</string>
                <key>sourceSize</key>
                <string>{136,59}</string>
            </dict>
            <key>Btn_qushiyong_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{136,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,59}}</string>
                <key>sourceSize</key>
                <string>{136,59}</string>
            </dict>
            <key>Btn_qushiyong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{136,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,59}}</string>
                <key>sourceSize</key>
                <string>{136,59}</string>
            </dict>
            <key>btn_fenxiang_down_NewRoles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{140,56}</string>
            </dict>
            <key>btn_fenxiang_mouseover_NewRoles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{140,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{140,56}</string>
            </dict>
            <key>btn_ljclick_fulizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_ljmouseover_fulizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,301},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_ljnormal_fulizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_wzdclick_fulizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_wzdmouseover_fulizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,143},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>icon_jjpw_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,343},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>panel_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,411},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>queding1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,143},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>queding1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>queding1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,301},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>wujiaoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,279},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_RewardDialog3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46fd2381ffc0259d84d7aae1e8636c4:4/4$</string>
            <key>textureFileName</key>
            <string>EXP_RewardDialog3.png</string>
        </dict>
    </dict>
</plist>
