<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liuguang_diban_PC0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{46,30}}</string>
                <key>offset</key>
                <string>{-113,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,30}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,218},{48,34}}</string>
                <key>offset</key>
                <string>{-112,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,34}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,166},{48,40}}</string>
                <key>offset</key>
                <string>{-111,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,40}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,116},{48,44}}</string>
                <key>offset</key>
                <string>{-111,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{48,50}}</string>
                <key>offset</key>
                <string>{-112,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,50}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{46,56}}</string>
                <key>offset</key>
                <string>{-113,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,56}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{42,60}}</string>
                <key>offset</key>
                <string>{-114,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,60}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{38,62}}</string>
                <key>offset</key>
                <string>{-117,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,62}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{32,64}}</string>
                <key>offset</key>
                <string>{-120,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,64}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,132},{34,62}}</string>
                <key>offset</key>
                <string>{-118,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,62}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,142},{44,62}}</string>
                <key>offset</key>
                <string>{-114,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,62}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,128},{58,54}}</string>
                <key>offset</key>
                <string>{-107,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{58,54}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{72,40}}</string>
                <key>offset</key>
                <string>{-99,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{72,40}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{76,4}}</string>
                <key>offset</key>
                <string>{-87,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,61},{76,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,250},{78,4}}</string>
                <key>offset</key>
                <string>{-73,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,61},{78,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{80,4}}</string>
                <key>offset</key>
                <string>{-60,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,61},{80,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,86},{82,4}}</string>
                <key>offset</key>
                <string>{-47,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,61},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,88},{84,4}}</string>
                <key>offset</key>
                <string>{-33,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,61},{84,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,4}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,61},{86,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,4}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,61},{86,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,88},{84,4}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,61},{84,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{84,6}}</string>
                <key>offset</key>
                <string>{20,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,60},{84,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{82,6}}</string>
                <key>offset</key>
                <string>{33,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,60},{82,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,174},{80,6}}</string>
                <key>offset</key>
                <string>{47,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,60},{80,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,84},{78,6}}</string>
                <key>offset</key>
                <string>{60,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,60},{78,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,170},{78,6}}</string>
                <key>offset</key>
                <string>{73,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,60},{78,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,164},{74,6}}</string>
                <key>offset</key>
                <string>{87,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,60},{74,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,78},{72,42}}</string>
                <key>offset</key>
                <string>{99,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,24},{72,42}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,196},{58,56}}</string>
                <key>offset</key>
                <string>{106,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,10},{58,56}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,68},{42,62}}</string>
                <key>offset</key>
                <string>{114,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,4},{42,62}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,76},{34,64}}</string>
                <key>offset</key>
                <string>{118,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,2},{34,64}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,218},{30,64}}</string>
                <key>offset</key>
                <string>{120,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,1},{30,64}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,152},{36,64}}</string>
                <key>offset</key>
                <string>{117,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,2},{36,64}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,66},{42,60}}</string>
                <key>offset</key>
                <string>{114,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,3},{42,60}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,60},{44,54}}</string>
                <key>offset</key>
                <string>{113,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,3},{44,54}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,188},{46,50}}</string>
                <key>offset</key>
                <string>{112,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,2},{46,50}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,168},{48,44}}</string>
                <key>offset</key>
                <string>{111,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,216},{48,38}}</string>
                <key>offset</key>
                <string>{111,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,3},{48,38}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,54},{46,32}}</string>
                <key>offset</key>
                <string>{112,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,3},{46,32}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,220},{44,28}}</string>
                <key>offset</key>
                <string>{113,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,2},{44,28}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,116},{50,24}}</string>
                <key>offset</key>
                <string>{110,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,2},{50,24}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,152},{66,20}}</string>
                <key>offset</key>
                <string>{102,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,1},{66,20}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,174},{80,8}}</string>
                <key>offset</key>
                <string>{94,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,2},{80,8}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,86},{82,6}}</string>
                <key>offset</key>
                <string>{80,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,1},{82,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,170},{82,6}}</string>
                <key>offset</key>
                <string>{65,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,1},{82,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{82,6}}</string>
                <key>offset</key>
                <string>{49,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,1},{82,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,86},{82,6}}</string>
                <key>offset</key>
                <string>{34,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,1},{82,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{82,6}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,1},{82,6}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,170},{82,4}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{82,4}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,86},{82,4}}</string>
                <key>offset</key>
                <string>{-27,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,170},{82,4}}</string>
                <key>offset</key>
                <string>{-42,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{82,4}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,86},{82,4}}</string>
                <key>offset</key>
                <string>{-73,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,170},{82,4}}</string>
                <key>offset</key>
                <string>{-88,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,4}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{74,14}}</string>
                <key>offset</key>
                <string>{-99,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,14}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,64},{58,22}}</string>
                <key>offset</key>
                <string>{-107,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,22}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,50},{42,26}}</string>
                <key>offset</key>
                <string>{-114,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,26}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,94},{28,22}}</string>
                <key>offset</key>
                <string>{-122,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,22}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>liuguang_diban_PC0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,240},{14,14}}</string>
                <key>offset</key>
                <string>{-130,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liuguang_xuanchang_PC.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b02f166745b5c9c680dc83310de88f92$</string>
            <key>textureFileName</key>
            <string>liuguang_xuanchang_PC.png</string>
        </dict>
    </dict>
</plist>
