<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_card_TDT.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,584},{203,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,160}}</string>
                <key>sourceSize</key>
                <string>{203,160}</string>
            </dict>
            <key>anniu1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,863},{159,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,56}}</string>
                <key>sourceSize</key>
                <string>{159,56}</string>
            </dict>
            <key>anniu1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,98},{159,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,56}}</string>
                <key>sourceSize</key>
                <string>{159,56}</string>
            </dict>
            <key>anniu1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,510},{159,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,56}}</string>
                <key>sourceSize</key>
                <string>{159,56}</string>
            </dict>
            <key>anniu2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>anniu2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,42},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>anniu2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,82},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>bisaizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,230},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>btn_down_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,306},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_down_chakanxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,216},{88,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,20}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>btn_down_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>btn_down_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,452},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_down_saishizhuanti.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,863},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>btn_jijiangkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,306},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_mouseover_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,306},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_mouseover_chakanxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,210},{88,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,20}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>btn_mouseover_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,34},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>btn_mouseover_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,584},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_mouseover_saishizhuanti.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,114},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>btn_normal_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,730},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_normal_chakanxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,114},{88,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,20}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>btn_normal_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,66},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>btn_normal_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,568},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_normal_saishizhuanti.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,114},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>cansaixieyimianban1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,584},{44,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,332}}</string>
                <key>sourceSize</key>
                <string>{44,332}</string>
            </dict>
            <key>cansaixieyimianban1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,584},{376,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,34}}</string>
                <key>sourceSize</key>
                <string>{376,34}</string>
            </dict>
            <key>close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,915},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,259},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,259},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dengdaijinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,230},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>diban1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,580}}</string>
                <key>sourceSize</key>
                <string>{394,580}</string>
            </dict>
            <key>diban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{100,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,438}}</string>
                <key>sourceSize</key>
                <string>{100,438}</string>
            </dict>
            <key>diban2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,584},{40,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,284}}</string>
                <key>sourceSize</key>
                <string>{40,284}</string>
            </dict>
            <key>diban2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,881},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>diban3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,220},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>erweima.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,510},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fanyeanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,962},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>fanyeanniu1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,962},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>fanyeanniu1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,962},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>gonggaotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,863},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>guanbi1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,510},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>guanbi1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,788},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>guanbi1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,819},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>guangbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,893},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>guangbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,925},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>guangbi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,259},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,850},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,863},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>jiazaishibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{202,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>jiazaishibai_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{202,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>jiazaishibai_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,306},{202,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>jijiangkaiqi1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,915},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>jishiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,210},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,918},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>ruchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,259},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,30}}</string>
                <key>sourceSize</key>
                <string>{136,30}</string>
            </dict>
            <key>saishiTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,789},{186,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,72}}</string>
                <key>sourceSize</key>
                <string>{186,72}</string>
            </dict>
            <key>saishimianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,962},{56,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,256}}</string>
                <key>sourceSize</key>
                <string>{56,256}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,568},{140,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,14}}</string>
                <key>sourceSize</key>
                <string>{140,14}</string>
            </dict>
            <key>titledi_GG.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,584},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>touminggaudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1021},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,584},{320,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,28}}</string>
                <key>sourceSize</key>
                <string>{320,28}</string>
            </dict>
            <key>wenzi_saishi_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,870},{172,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,43}}</string>
                <key>sourceSize</key>
                <string>{172,43}</string>
            </dict>
            <key>xiazaidiannao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,98},{116,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,22}}</string>
                <key>sourceSize</key>
                <string>{116,22}</string>
            </dict>
            <key>yijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,122},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,122},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>zhuangshi_bg_TDT.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,122},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_TDT0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11c823f307a7a7e3835a58a9c1f359e9:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_TDT0.png</string>
        </dict>
    </dict>
</plist>
