<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sj_txmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,614},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_sj_txwk.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,567},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_zjb_lqjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,120},{143,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,57}}</string>
                <key>sourceSize</key>
                <string>{143,57}</string>
            </dict>
            <key>btn_zjb_lqjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,179},{143,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,57}}</string>
                <key>sourceSize</key>
                <string>{143,57}</string>
            </dict>
            <key>btn_zjb_lqjl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,238},{143,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,57}}</string>
                <key>sourceSize</key>
                <string>{143,57}</string>
            </dict>
            <key>btnhui_L_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{170,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,60}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>frame_tzs_tbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,613},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>frame_tzs_zdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{342,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,236}}</string>
                <key>sourceSize</key>
                <string>{342,236}</string>
            </dict>
            <key>icon_zjb_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,613},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>pic_zjb_qssd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,116}}</string>
                <key>sourceSize</key>
                <string>{496,116}</string>
            </dict>
            <key>pic_zjb_txd.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,297},{314,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,127}}</string>
                <key>sourceSize</key>
                <string>{314,127}</string>
            </dict>
            <key>pic_zjb_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>pic_zjb_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{140,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,6}}</string>
                <key>sourceSize</key>
                <string>{140,6}</string>
            </dict>
            <key>tiele_zjb_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,504},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>title_zjb_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,567},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>title_zjb_sjbbdm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{209,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,72}}</string>
                <key>sourceSize</key>
                <string>{209,72}</string>
            </dict>
            <key>title_zjb_sjbbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{165,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,71}}</string>
                <key>sourceSize</key>
                <string>{165,71}</string>
            </dict>
            <key>title_zjb_sjbjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,358},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>title_zjb_sjbsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,431},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>title_zjb_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,681},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>touxiangkuang_jingjibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,504},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>txt_tzs_hdjlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,297},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_LastWeekRankRewardUI_OK0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:860b6db7c531cfc3adddc2f91d73a892:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_LastWeekRankRewardUI_OK0.png</string>
        </dict>
    </dict>
</plist>
