<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bantouBg_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>bg01_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,504}}</string>
                <key>sourceSize</key>
                <string>{324,504}</string>
            </dict>
            <key>bg_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,223},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>close_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,187},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,231},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,273},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>douzi_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,317},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>gaoguang_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{174,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,57}}</string>
                <key>sourceSize</key>
                <string>{174,57}</string>
            </dict>
            <key>queding_click_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,61},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>queding_mouseover_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,115},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>queding_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,169},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>titleBg_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,231},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>title_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,78},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>zhuangshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,61},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>zhuangshi2_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{2,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,8}}</string>
                <key>sourceSize</key>
                <string>{2,8}</string>
            </dict>
            <key>zhuangshi3_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{471,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,2}}</string>
                <key>sourceSize</key>
                <string>{471,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_fankui_PC0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aeb1e216b32083961516a1b0f31a1d4:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_fankui_PC0.png</string>
        </dict>
    </dict>
</plist>
