<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_open_click_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,72},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_open_disable_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,116},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_open_mouseover_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,160},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_open_normal_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,204},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,248},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,292},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_click_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,336},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_click_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,380},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_disable_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,424},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_disable_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,468},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_mouseover_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,512},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_shiyong_mouseover_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,556},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>Btn_tab1_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,228},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>Btn_tab2_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,318},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>Btn_tab3_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,408},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>Icon_flxt_ljkx.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>anniu_shiyongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,840},{102,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{102,41}</string>
            </dict>
            <key>bag_kuang_changjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,756},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>bg_bg_BAG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,580}}</string>
                <key>sourceSize</key>
                <string>{362,580}</string>
            </dict>
            <key>biaoqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,80},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>biaoqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,120},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>close_SZ_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,929},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_click_SZ_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,973},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_SZ_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,952},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dadouicon_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>daoju_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,630},{46,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,191}}</string>
                <key>sourceSize</key>
                <string>{46,191}</string>
            </dict>
            <key>di_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,498},{100,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,3}}</string>
                <key>sourceSize</key>
                <string>{100,3}</string>
            </dict>
            <key>diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,198},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>douzuanBG_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,28},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>line_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,228},{7,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,1}}</string>
                <key>sourceSize</key>
                <string>{7,1}</string>
            </dict>
            <key>maskScene.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{120,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,22}}</string>
                <key>sourceSize</key>
                <string>{120,22}</string>
            </dict>
            <key>shangpin_diban_yuan_shop_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,842},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>shopBtn_01_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>shopBtn_click_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,840},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>shopBtn_mouseover_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,840},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>tiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,498},{74,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,19}}</string>
                <key>sourceSize</key>
                <string>{74,19}</string>
            </dict>
            <key>tishi001_bag _bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,952},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>tishi01_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tishi02_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,756},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>title_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,26},{108,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,44}}</string>
                <key>sourceSize</key>
                <string>{108,44}</string>
            </dict>
            <key>title_bg_BAG.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,678},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>xuanzhong_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,160},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>yeqiandi_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{170,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,300}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
            <key>zhedangbanmian_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,952},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>zuanicon_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,584},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_Bag_pc0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33dff7fa79029918e5b1b9032df211c2:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_Bag_pc0.png</string>
        </dict>
    </dict>
</plist>
