<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Txt_tdc_flps.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,677},{262,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,74}}</string>
                <key>sourceSize</key>
                <string>{262,74}</string>
            </dict>
            <key>bg_gaoguang_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{93,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,12}}</string>
                <key>sourceSize</key>
                <string>{93,12}</string>
            </dict>
            <key>bg_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,250}}</string>
                <key>sourceSize</key>
                <string>{484,250}</string>
            </dict>
            <key>btn_close01_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,590},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>btn_close02_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,590},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>btn_close03_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,590},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>btn_flps_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,254},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_flps_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,254},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_flps_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,310},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_lingqu01_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,366},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_lingqu02_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,395},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_lingqu03_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,422},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_qudapai01_taodousuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,478},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_qudapai02_taodousuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,534},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>btn_qudapai03_taodousuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,536},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>dizhu_taodousuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{309,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,310}}</string>
                <key>sourceSize</key>
                <string>{309,310}</string>
            </dict>
            <key>nongmin_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{282,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,290}}</string>
                <key>sourceSize</key>
                <string>{282,290}</string>
            </dict>
            <key>title_taodousuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{245,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,75}}</string>
                <key>sourceSize</key>
                <string>{245,75}</string>
            </dict>
            <key>title_tianjiangshendou.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,941},{245,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,75}}</string>
                <key>sourceSize</key>
                <string>{245,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_BankruptCare0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b76f5156329bad1761b14a43a5cc0b5:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_BankruptCare0.png</string>
        </dict>
    </dict>
</plist>
