<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>task_btn_close.png</key>
		<dict>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_btn_openbz_hl.png</key>
		<dict>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_btn_openbz_nor.png</key>
		<dict>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_btn_share.png</key>
		<dict>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>x</key>
			<integer>226</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_progressbar_bg.png</key>
		<dict>
			<key>width</key>
			<integer>377</integer>
			<key>height</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>377</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>250</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_progress_value.png</key>
		<dict>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2127.png</key>
		<dict>
			<key>width</key>
			<integer>528</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>528</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>298</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_txt_curpgs.png</key>
		<dict>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_prop_bg.png</key>
		<dict>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>136</integer>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>136</integer>
			<key>x</key>
			<integer>226</integer>
			<key>y</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_btn_record.png</key>
		<dict>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>89</integer>
			<key>originalWidth</key>
			<integer>99</integer>
			<key>originalHeight</key>
			<integer>89</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>350</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_txt_bottom.png</key>
		<dict>
			<key>width</key>
			<integer>508</integer>
			<key>height</key>
			<integer>29</integer>
			<key>originalWidth</key>
			<integer>508</integer>
			<key>originalHeight</key>
			<integer>29</integer>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_btn_rule.png</key>
		<dict>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>74</integer>
			<key>originalWidth</key>
			<integer>114</integer>
			<key>originalHeight</key>
			<integer>74</integer>
			<key>x</key>
			<integer>101</integer>
			<key>y</key>
			<integer>350</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_act_time.png</key>
		<dict>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>27</integer>
			<key>originalWidth</key>
			<integer>253</integer>
			<key>originalHeight</key>
			<integer>27</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>441</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_bubble_bg.png</key>
		<dict>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>142</integer>
			<key>originalWidth</key>
			<integer>166</integer>
			<key>originalHeight</key>
			<integer>142</integer>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_share_btn_qzone.png</key>
		<dict>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_share_btn_qfriend.png</key>
		<dict>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>x</key>
			<integer>217</integer>
			<key>y</key>
			<integer>350</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_share_btn_wxfriend.png</key>
		<dict>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>x</key>
			<integer>714</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_share_btn_wxzone.png</key>
		<dict>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>263</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2116.png</key>
		<dict>
			<key>width</key>
			<integer>495</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>495</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>434</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2118.png</key>
		<dict>
			<key>width</key>
			<integer>476</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>476</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>479</integer>
			<key>y</key>
			<integer>350</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2119.png</key>
		<dict>
			<key>width</key>
			<integer>436</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>436</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>486</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2120.png</key>
		<dict>
			<key>width</key>
			<integer>495</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>495</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>538</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2121.png</key>
		<dict>
			<key>width</key>
			<integer>384</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>384</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>590</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2122.png</key>
		<dict>
			<key>width</key>
			<integer>451</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>451</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>642</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2123.png</key>
		<dict>
			<key>width</key>
			<integer>403</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>403</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>694</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2124.png</key>
		<dict>
			<key>width</key>
			<integer>436</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>436</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>746</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2125.png</key>
		<dict>
			<key>width</key>
			<integer>417</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>417</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>798</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>txt_2126.png</key>
		<dict>
			<key>width</key>
			<integer>521</integer>
			<key>height</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>521</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>850</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_detail_title_rcd.png</key>
		<dict>
			<key>width</key>
			<integer>243</integer>
			<key>height</key>
			<integer>78</integer>
			<key>originalWidth</key>
			<integer>243</integer>
			<key>originalHeight</key>
			<integer>78</integer>
			<key>x</key>
			<integer>698</integer>
			<key>y</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_detail_title_rule.png</key>
		<dict>
			<key>width</key>
			<integer>239</integer>
			<key>height</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>239</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>902</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_detail_line.png</key>
		<dict>
			<key>width</key>
			<integer>600</integer>
			<key>height</key>
			<integer>2</integer>
			<key>originalWidth</key>
			<integer>600</integer>
			<key>originalHeight</key>
			<integer>2</integer>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>590</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_detail_mark.png</key>
		<dict>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>29</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>29</integer>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_txt_prize_goods.png</key>
		<dict>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>31</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>31</integer>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_txt_prize_time.png</key>
		<dict>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>31</integer>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>31</integer>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>task_btn_qutz.png</key>
		<dict>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>594</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>textureFileName</key>
		<string>thetask_atlas.png</string>
		<key>realTextureFileName</key>
		<string>thetask_atlas.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
