<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_cj_aqgy_shuye01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,170}}</string>
                <key>sourceSize</key>
                <string>{269,170}</string>
            </dict>
            <key>Tx_cj_aqgy_shuye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{136,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,65}}</string>
                <key>sourceSize</key>
                <string>{136,65}</string>
            </dict>
            <key>Tx_cj_aqgy_shuye03.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{240,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,153}}</string>
                <key>sourceSize</key>
                <string>{240,153}</string>
            </dict>
            <key>Tx_cj_aqgy_shuye04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{269,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,138}}</string>
                <key>sourceSize</key>
                <string>{269,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_cj_aqgy_shuye.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0b7130c9b240e65aa935336ee6408ca$</string>
            <key>textureFileName</key>
            <string>Tx_cj_aqgy_shuye.png</string>
        </dict>
    </dict>
</plist>
