<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tc_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>close_click_tc_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,113},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_tc_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,123},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_normal_tc_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,167},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>desc_web_shop_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,18}}</string>
                <key>sourceSize</key>
                <string>{186,18}</string>
            </dict>
            <key>jddb1_2_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>jddb1_3_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{8,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,164}}</string>
                <key>sourceSize</key>
                <string>{8,164}</string>
            </dict>
            <key>title_czzs_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>tmgd_WV.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_WebView_pc0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126b722f4be74057dbe22043e455800b:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_WebView_pc0.png</string>
        </dict>
    </dict>
</plist>
