<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_fanye1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,594},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>anniu_fanye2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,623},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>anniu_fanye2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,684},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>anniu_fanye2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,729},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>baocun1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,458},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>baocun1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,564},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>baocun1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,641},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>baocun1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,670},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>biaotitaitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>cansaixieyi1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,468},{98,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{98,20}</string>
            </dict>
            <key>cansaixieyi1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,685},{98,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{98,20}</string>
            </dict>
            <key>cansaixieyi1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,707},{98,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{98,20}</string>
            </dict>
            <key>close_EX.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,713},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_click_EX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_EX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dikuang1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{196,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,260}}</string>
                <key>sourceSize</key>
                <string>{196,260}</string>
            </dict>
            <key>dikuang3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,468},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>duihuanjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,292},{158,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,43}}</string>
                <key>sourceSize</key>
                <string>{158,43}</string>
            </dict>
            <key>duijiangzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{58,20}</string>
            </dict>
            <key>fenge_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,68},{209,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,52}}</string>
                <key>sourceSize</key>
                <string>{209,52}</string>
            </dict>
            <key>gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,568},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gerenxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,337},{158,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,43}}</string>
                <key>sourceSize</key>
                <string>{158,43}</string>
            </dict>
            <key>gerenxinxi_title_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,427},{138,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,39}}</string>
                <key>sourceSize</key>
                <string>{138,39}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,729},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gouxuankuang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,652},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>gouxuankuang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,729},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>jihuo1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,723},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuo1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuo1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuo1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,596},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>jihuomenpiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,382},{158,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,43}}</string>
                <key>sourceSize</key>
                <string>{158,43}</string>
            </dict>
            <key>jilupaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{210,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,30}}</string>
                <key>sourceSize</key>
                <string>{210,30}</string>
            </dict>
            <key>lipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,24},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{58,20}</string>
            </dict>
            <key>mbBG_EX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,448}}</string>
                <key>sourceSize</key>
                <string>{288,448}</string>
            </dict>
            <key>querenjihuo1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>querenjihuo1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,640},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>querenjihuo1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>querenjihuo1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,675},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>querenlingqu1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,279},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>querenlingqu1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,390},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>querenlingqu1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,501},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>querenlingqu1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,543},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,46},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{58,20}</string>
            </dict>
            <key>shurudiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,382},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>shurudiban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,420},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>tmgd_EX.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,68},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>xiugai1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,684},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>xiugai1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>xiugai1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,728},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>xiugai1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>xiugaixinxi1_1_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,612},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>xiugaixinxi1_2_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,564},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>xiugaixinxi1_3_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,592},{109,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,47}}</string>
                <key>sourceSize</key>
                <string>{109,47}</string>
            </dict>
            <key>xiugaixinxi1_4_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,772},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_Exchange0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459458b45705b640716099969b8d309d:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_Exchange0.png</string>
        </dict>
    </dict>
</plist>
