<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banban_start_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{230,84}}</string>
                <key>sourceSize</key>
                <string>{238,98}</string>
            </dict>
            <key>startbutton_PC0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,320},{58,56}}</string>
                <key>offset</key>
                <string>{-77,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{58,62}}</string>
                <key>offset</key>
                <string>{-77,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,218},{58,64}}</string>
                <key>offset</key>
                <string>{-77,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,260},{58,66}}</string>
                <key>offset</key>
                <string>{-77,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,238},{54,68}}</string>
                <key>offset</key>
                <string>{-79,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{52,68}}</string>
                <key>offset</key>
                <string>{-80,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,166},{50,68}}</string>
                <key>offset</key>
                <string>{-81,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,68}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,278},{54,68}}</string>
                <key>offset</key>
                <string>{-79,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,220},{56,68}}</string>
                <key>offset</key>
                <string>{-78,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,68}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,304},{58,62}}</string>
                <key>offset</key>
                <string>{-77,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,192},{74,66}}</string>
                <key>offset</key>
                <string>{-69,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,66}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,126},{88,64}}</string>
                <key>offset</key>
                <string>{-62,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{88,64}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{104,56}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,56}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,80},{118,40}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{118,40}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{128,20}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{128,20}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,28},{128,14}}</string>
                <key>offset</key>
                <string>{-21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{128,14}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,44},{128,12}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,60},{128,12}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,40},{128,12}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{128,12}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,24},{128,14}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,58},{128,14}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{128,24}}</string>
                <key>offset</key>
                <string>{41,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{128,24}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{114,44}}</string>
                <key>offset</key>
                <string>{49,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,28},{114,44}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{98,54}}</string>
                <key>offset</key>
                <string>{57,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,18},{98,54}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,176},{82,60}}</string>
                <key>offset</key>
                <string>{65,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,12},{82,60}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,236},{66,60}}</string>
                <key>offset</key>
                <string>{73,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,12},{66,60}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{52,56}}</string>
                <key>offset</key>
                <string>{80,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,14},{52,56}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,332},{48,64}}</string>
                <key>offset</key>
                <string>{82,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,5},{48,64}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{42,66}}</string>
                <key>offset</key>
                <string>{85,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,2},{42,66}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,244},{48,66}}</string>
                <key>offset</key>
                <string>{82,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,278},{52,64}}</string>
                <key>offset</key>
                <string>{80,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,348},{52,58}}</string>
                <key>offset</key>
                <string>{80,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,192},{50,50}}</string>
                <key>offset</key>
                <string>{81,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,294},{66,52}}</string>
                <key>offset</key>
                <string>{73,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{82,50}}</string>
                <key>offset</key>
                <string>{65,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,0},{82,50}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,122},{98,42}}</string>
                <key>offset</key>
                <string>{57,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,88},{114,28}}</string>
                <key>offset</key>
                <string>{49,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{114,28}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{124,14}}</string>
                <key>offset</key>
                <string>{36,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{124,14}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,80},{124,10}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{124,10}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,58},{126,8}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{126,8}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,54},{126,8}}</string>
                <key>offset</key>
                <string>{-11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{126,8}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,68},{124,10}}</string>
                <key>offset</key>
                <string>{-26,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{124,10}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{122,16}}</string>
                <key>offset</key>
                <string>{-42,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,16}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,92},{110,32}}</string>
                <key>offset</key>
                <string>{-51,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{94,46}}</string>
                <key>offset</key>
                <string>{-59,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,166},{78,52}}</string>
                <key>offset</key>
                <string>{-67,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>startbutton_PC0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,312},{62,52}}</string>
                <key>offset</key>
                <string>{-75,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_startbutton_pc.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49528f565b68c445bd3311f1a51b9152$</string>
            <key>textureFileName</key>
            <string>pic_startbutton_pc.png</string>
        </dict>
    </dict>
</plist>
