<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panel_zqb_sidai_y__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,7},{36,42}}</string>
                <key>offset</key>
                <string>{-107,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{36,42}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,149},{60,50}}</string>
                <key>offset</key>
                <string>{-94,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,50}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,153},{84,56}}</string>
                <key>offset</key>
                <string>{-82,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,56}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,145},{108,58}}</string>
                <key>offset</key>
                <string>{-71,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{108,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,7},{130,58}}</string>
                <key>offset</key>
                <string>{-59,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{130,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,7},{132,58}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{132,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,7},{134,58}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{134,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,7},{126,42}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,5},{126,42}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,7},{122,50}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,5},{122,50}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,7},{120,56}}</string>
                <key>offset</key>
                <string>{52,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,4},{120,56}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,139},{108,56}}</string>
                <key>offset</key>
                <string>{69,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,6},{108,56}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,153},{86,54}}</string>
                <key>offset</key>
                <string>{81,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,8},{86,54}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,151},{66,52}}</string>
                <key>offset</key>
                <string>{91,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,10},{66,52}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,7},{50,44}}</string>
                <key>offset</key>
                <string>{99,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,17},{50,44}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,221},{26,38}}</string>
                <key>offset</key>
                <string>{111,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,19},{26,38}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Panel_zqb_sidai_y__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,229},{2,2}}</string>
                <key>offset</key>
                <string>{122,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,52},{2,2}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texturePacker.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1a76f364fb9f3a81b985dcb90348047$</string>
            <key>textureFileName</key>
            <string>texturePacker.png</string>
        </dict>
    </dict>
</plist>
