<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_flrw_qdbclick_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,86},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>Btn_flrw_qdbmouseover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,134},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>Btn_flrw_qdbnormal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,182},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>Btn_mzrw_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>Btn_mzrw_mouseover.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>Btn_mzrw_normer.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>Btn_mzrw_xskth.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu-dalingqu2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,230},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>anniu-dalingqu3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,254},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>anniu-dalingqu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,766},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>anniu-jijiangkaiqi_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,766},{114,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,45}}</string>
                <key>sourceSize</key>
                <string>{114,45}</string>
            </dict>
            <key>anniu-jinxingzhong_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,882},{114,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,45}}</string>
                <key>sourceSize</key>
                <string>{114,45}</string>
            </dict>
            <key>anniu-mingrikaiqi_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,766},{114,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,45}}</string>
                <key>sourceSize</key>
                <string>{114,45}</string>
            </dict>
            <key>anniu0_1_normal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu0_2_hover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu0_3_down_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu0_4_select_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu1_1_normal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu1_2_hover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,168},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu1_3_down_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,356},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu1_4_select_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,544},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu2_1_normal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,732},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu2_2_hover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,86},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu2_3_down_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,86},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu2_4_select_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,86},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu3_1_normal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,170},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu3_2_hover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,170},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu3_3_down_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,170},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu3_4_select_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,202},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu4_1_normal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,390},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu4_2_hover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,578},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu4_3_down_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,390},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu4_4_select_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,578},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu5_1_normal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,278},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>btn_close_1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,882},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_close_2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,932},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_close_3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,766},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>diban-guang_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,212},{174,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,57}}</string>
                <key>sourceSize</key>
                <string>{174,57}</string>
            </dict>
            <key>diban2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{164,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,73}}</string>
                <key>sourceSize</key>
                <string>{164,73}</string>
            </dict>
            <key>diban3-mengban_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,168},{32,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,94}}</string>
                <key>sourceSize</key>
                <string>{32,94}</string>
            </dict>
            <key>diertian1-1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>diertian1-2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,86},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hyrw_ys_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,150},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jianglidiban_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>jiangpai1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,882},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>wanchengzhang_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,86},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>xiaomianban_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,920},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_RenWu_PC1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e175d212abebe3bf54d59ae5a2fb7716:2/2$</string>
            <key>textureFileName</key>
            <string>EXP_RenWu_PC1.png</string>
        </dict>
    </dict>
</plist>
