<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_flrw_qclick_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,216},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>Btn_flrw_qmouseover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,310},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>Btn_flrw_qnormal_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,404},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>anniu-genghuan_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,134},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>anniu-lingqu2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,980},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>anniu-lingqu3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,980},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>anniu-lingqu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,980},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>anniu-quwancheng2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,465},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>anniu-quwancheng3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,465},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>anniu-quwancheng_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,465},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>anniu5_2_hover_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,530},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu5_3_down_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,530},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>anniu5_4_select_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,614},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>baoxiang_renwu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,758},{174,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,170}}</string>
                <key>sourceSize</key>
                <string>{174,170}</string>
            </dict>
            <key>biaoti-huawen_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,266},{203,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,160}}</string>
                <key>sourceSize</key>
                <string>{203,160}</string>
            </dict>
            <key>biaotikuang_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,456},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>diban1-1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,580}}</string>
                <key>sourceSize</key>
                <string>{394,580}</string>
            </dict>
            <key>diban3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,134},{47,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,362}}</string>
                <key>sourceSize</key>
                <string>{47,362}</string>
            </dict>
            <key>disantian1-1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,951},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>disantian1-2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,950},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>diyitian_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,950},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>douzibq_renwu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,758},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>fengebankuai1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,100},{363,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,211}}</string>
                <key>sourceSize</key>
                <string>{363,211}</string>
            </dict>
            <key>fengebankuai2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,980},{17,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,41}}</string>
                <key>sourceSize</key>
                <string>{17,41}</string>
            </dict>
            <key>fengexian1-1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,498},{258,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,54}}</string>
                <key>sourceSize</key>
                <string>{258,54}</string>
            </dict>
            <key>fengexian_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,980},{3,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,84}}</string>
                <key>sourceSize</key>
                <string>{3,84}</string>
            </dict>
            <key>hdgg (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{630,459},{271,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,62}}</string>
                <key>sourceSize</key>
                <string>{271,62}</string>
            </dict>
            <key>hdgg_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,584},{394,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,576}}</string>
                <key>sourceSize</key>
                <string>{394,576}</string>
            </dict>
            <key>hyrw_bt_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,758},{191,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>hyrw_txd_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,698},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>jiangli_renwu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{411,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,31}}</string>
                <key>sourceSize</key>
                <string>{411,31}</string>
            </dict>
            <key>jianglishu_renwu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{190,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,24}}</string>
                <key>sourceSize</key>
                <string>{190,24}</string>
            </dict>
            <key>jiangpai1-1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,428},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>jiangpai1-2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,428},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>jiangpai1-3_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,428},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>jijiangkaiqi_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,183},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>jindutiao1-1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,428},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>jindutiao1-2_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,428},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>jinxingz_renwu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,930},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>kuang-faguang_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,698},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>kuang-huawen_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,216},{241,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,81}}</string>
                <key>sourceSize</key>
                <string>{241,81}</string>
            </dict>
            <key>kuang-sanjiaoxing_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,465},{86,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,115}}</string>
                <key>sourceSize</key>
                <string>{86,115}</string>
            </dict>
            <key>kuang_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,930},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>lingquzhang_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,698},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>mingrikaiqi_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,183},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>mohu01_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{381,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,64}}</string>
                <key>sourceSize</key>
                <string>{381,64}</string>
            </dict>
            <key>mohu02_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,68},{381,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,64}}</string>
                <key>sourceSize</key>
                <string>{381,64}</string>
            </dict>
            <key>mohu03_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,183},{208,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,81}}</string>
                <key>sourceSize</key>
                <string>{208,81}</string>
            </dict>
            <key>mohu04_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{223,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,96}}</string>
                <key>sourceSize</key>
                <string>{223,96}</string>
            </dict>
            <key>qjiubtn_RenWu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,213},{241,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,79}}</string>
                <key>sourceSize</key>
                <string>{241,79}</string>
            </dict>
            <key>quwancheng_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,718},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>renwu_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,980},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>touminggaudian_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,985},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>yuandian_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,428},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_RenWu_PC0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e175d212abebe3bf54d59ae5a2fb7716:1/2$</string>
            <key>textureFileName</key>
            <string>EXP_RenWu_PC0.png</string>
        </dict>
    </dict>
</plist>
