<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_beijing_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,230},{64,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>L01_beijing_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,230},{64,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>L01_beijing_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,230},{64,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>L01_beijing_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,134},{64,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>L01_beijing_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{64,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>L01_beijing_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,68},{64,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>L02_beijing_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,399},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>L02_beijing_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,399},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>L02_beijing_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,399},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>L02_beijing_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,399},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>L02_beijing_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,399},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>L02_beijing_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,399},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>M_beijing_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,200},{26,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>M_beijing_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,200},{26,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>M_beijing_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,228},{24,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>M_beijing_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,200},{26,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>M_beijing_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,200},{26,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>M_beijing_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,200},{26,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>R01_beijing_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{64,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>R01_beijing_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{64,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>R01_beijing_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>R01_beijing_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{64,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>R01_beijing_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{64,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>R01_beijing_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{64,167}}</string>
                <key>sourceSize</key>
                <string>{82,167}</string>
            </dict>
            <key>R02_beijing_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,192},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>R02_beijing_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,154},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>R02_beijing_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,116},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>R02_beijing_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,78},{36,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>R02_beijing_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,40},{36,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>R02_beijing_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{36,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic_qizhi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb317ffb77e923e338bd18cbcad568b8$</string>
            <key>textureFileName</key>
            <string>pic_qizhi.png</string>
        </dict>
    </dict>
</plist>
