<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaotikuang_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{272,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,72}}</string>
                <key>sourceSize</key>
                <string>{272,72}</string>
            </dict>
            <key>btnhui_xiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,340},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>buchu_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,572},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>chupai_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,603},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>close_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,363},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,407},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>close_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,560},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>diban_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,504}}</string>
                <key>sourceSize</key>
                <string>{324,504}</string>
            </dict>
            <key>fankui_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>fankui_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,402},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>fankui_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,448},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>fengexian02_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{2,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,47}}</string>
                <key>sourceSize</key>
                <string>{2,47}</string>
            </dict>
            <key>fengexian_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,328},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>goudi_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>goudi_SZ_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,604},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gougou_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,328},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>guanwang_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>guanwang_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,451},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>guanwang_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,497},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>icon_xieyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,598},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>icon_yinsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,620},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>jindudi_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,598},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>jindudian_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,638},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>jindutiao_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,598},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>kefu_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>kefu_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,500},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>kefu_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,546},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>luntan_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>luntan_click_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,549},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>luntan_mouseover_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,595},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,47}}</string>
                <key>sourceSize</key>
                <string>{130,47}</string>
            </dict>
            <key>queding_click_xiaoBg_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,340},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>queding_mouseover_xiaoBg_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,394},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>queding_xiaoBg_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,436},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>shezhi_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,451},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>tishi_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,634},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>yuandian_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,598},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuandiandi_SZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,598},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EXP_Setting_PC0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35d97d5c2e06eaa94f1b1d1767a37dcc:1/1$</string>
            <key>textureFileName</key>
            <string>EXP_Setting_PC0.png</string>
        </dict>
    </dict>
</plist>
