<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_xuankuangtexiao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,434},{41,112}}</string>
                <key>offset</key>
                <string>{-70,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{41,112}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,218},{135,214}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{135,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,218},{123,214}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,7},{123,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{111,214}}</string>
                <key>offset</key>
                <string>{38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,7},{111,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,218},{87,212}}</string>
                <key>offset</key>
                <string>{50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,9},{87,212}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,434},{63,184}}</string>
                <key>offset</key>
                <string>{64,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,37},{63,184}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,434},{39,108}}</string>
                <key>offset</key>
                <string>{76,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,113},{39,108}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{23,70}}</string>
                <key>offset</key>
                <string>{81,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,151},{23,70}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,434},{67,188}}</string>
                <key>offset</key>
                <string>{-58,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{67,188}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,218},{89,214}}</string>
                <key>offset</key>
                <string>{-45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{89,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{103,214}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{103,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{133,214}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{133,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,218},{151,214}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{151,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,214}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{173,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{159,214}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{159,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
            <key>Tx_xuankuangtexiao_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{147,214}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{147,214}}</string>
                <key>sourceSize</key>
                <string>{217,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_paiwei_xuankuangtexiao.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd9810c8e238c3b173079161f62d52d$</string>
            <key>textureFileName</key>
            <string>Tx_paiwei_xuankuangtexiao.png</string>
        </dict>
    </dict>
</plist>
