<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{591,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,405}}</string>
                <key>sourceSize</key>
                <string>{591,405}</string>
            </dict>
            <key>guangquan_GXHD.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,211},{263,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,229}}</string>
                <key>sourceSize</key>
                <string>{263,229}</string>
            </dict>
            <key>guangyun_GXHD.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{273,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,207}}</string>
                <key>sourceSize</key>
                <string>{273,207}</string>
            </dict>
            <key>quanquan_GXHD.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,211},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic01_GXHD_PC.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8b36ed6fdc3c3e9668638cbd5e08b4$</string>
            <key>textureFileName</key>
            <string>Pic01_GXHD_PC.png</string>
        </dict>
    </dict>
</plist>
