<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diban_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{111,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,101}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>diban_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>diban_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,106}}</string>
                <key>sourceSize</key>
                <string>{115,106}</string>
            </dict>
            <key>diban_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,105},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diban_liangqi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8812dd4e82ded5c1448dfef7b6d566a4$</string>
            <key>textureFileName</key>
            <string>diban_liangqi.png</string>
        </dict>
    </dict>
</plist>
