<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang_gengduo_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,53}}</string>
                <key>sourceSize</key>
                <string>{176,53}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,106},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xingsaoguang_tx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,101},{18,13}}</string>
                <key>offset</key>
                <string>{-61,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{18,13}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,101},{34,27}}</string>
                <key>offset</key>
                <string>{-52,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{34,27}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,101},{62,39}}</string>
                <key>offset</key>
                <string>{-39,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{62,39}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,67},{86,53}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,55},{86,53}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,110},{98,65}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{98,65}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{96,63}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{96,63}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{96,71}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{96,71}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{106,79}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{106,79}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{108,81}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{108,81}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,112},{100,65}}</string>
                <key>offset</key>
                <string>{17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,122},{86,51}}</string>
                <key>offset</key>
                <string>{25,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{86,51}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,177},{76,39}}</string>
                <key>offset</key>
                <string>{30,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{76,39}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,137},{26,9}}</string>
                <key>offset</key>
                <string>{55,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,19},{26,9}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>xingsaoguang_tx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>yin_jinbisai_tx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{102,97}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>yin_jinbisai_tx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{92,97}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>yin_jinbisai_tx0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,172},{80,97}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>yin_jinbisai_tx0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,179},{68,93}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>yin_jinbisai_tx0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,175},{58,83}}</string>
                <key>offset</key>
                <string>{-30,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,83}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>yin_jinbisai_tx0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,179},{48,69}}</string>
                <key>offset</key>
                <string>{-34,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>yin_jinbisai_tx0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1,1}}</string>
                <key>offset</key>
                <string>{-58.5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic03_zhuUI.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55636dbab709dbdcf364999989de0c99$</string>
            <key>textureFileName</key>
            <string>pic03_zhuUI.png</string>
        </dict>
    </dict>
</plist>
