<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_zhujiemian_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{251,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,77}}</string>
                <key>sourceSize</key>
                <string>{251,77}</string>
            </dict>
            <key>Tx_zhujiemian_jingdiansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,78}}</string>
                <key>sourceSize</key>
                <string>{251,78}</string>
            </dict>
            <key>Tx_zhujiemian_paiweisai.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{251,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,77}}</string>
                <key>sourceSize</key>
                <string>{251,77}</string>
            </dict>
            <key>Tx_zhujiemian_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{251,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,77}}</string>
                <key>sourceSize</key>
                <string>{251,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic_zhuUI_piaodai_PC.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:603d14dfe9f9d2f60a9fd3673c057bcb$</string>
            <key>textureFileName</key>
            <string>Pic_zhuUI_piaodai_PC.png</string>
        </dict>
    </dict>
</plist>
