<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_zhuUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,393},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>bag_zhuUI_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,393},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>biaoqian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,173},{77,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,23}}</string>
                <key>sourceSize</key>
                <string>{77,23}</string>
            </dict>
            <key>biaoqian01_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,445},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>biaoqian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,445},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>biaoqian02_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,367},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>biaoqian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,87},{49,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,23}}</string>
                <key>sourceSize</key>
                <string>{49,23}</string>
            </dict>
            <key>biaoqian03_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,444},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>biaoqian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,112},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>biaoqian04_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,352},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>biaoqian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,149},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>biaoqian05_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,69},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>biaoqian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,112},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>biaoqian06_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,351},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>biaoqian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,119},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>biaoqian07_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,351},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>biaoqian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,95},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>biaoqian08_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,351},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>biaoqian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,45},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>biaoqian09_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,367},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>biaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,445},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>biaotidi_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,445},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dajiangsai_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,255},{251,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,77}}</string>
                <key>sourceSize</key>
                <string>{251,77}</string>
            </dict>
            <key>dou01_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>dou02_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,173},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>dou03_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,50},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>jiangbei_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{149,192}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,192}}</string>
                <key>sourceSize</key>
                <string>{157,192}</string>
            </dict>
            <key>jinbi01_dajiangdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,255},{214,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,91}}</string>
                <key>sourceSize</key>
                <string>{214,91}</string>
            </dict>
            <key>jinbi02_dajiangdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,227},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>jingjimoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{252,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,71}}</string>
                <key>sourceSize</key>
                <string>{252,71}</string>
            </dict>
            <key>jingjipaiwei_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{251,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,77}}</string>
                <key>sourceSize</key>
                <string>{251,77}</string>
            </dict>
            <key>juese_zhuUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,196},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>juese_zhuUI_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,166},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>lihe_dajiangdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{163,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{163,175}</string>
            </dict>
            <key>lihua01_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,179},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>lihua02_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,155},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>lihua03_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,179},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>lihua04_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,179},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>lihua05_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,179},{14,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,7}}</string>
                <key>sourceSize</key>
                <string>{14,7}</string>
            </dict>
            <key>lihua06_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,179},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>lizi_OZB_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,253},{120,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{120,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>pai01_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,196},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>pai01_jjpw_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,166},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>pai02_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,445},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>pai02_jjpw_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,393},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>pai03_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,245},{105,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,54}}</string>
                <key>sourceSize</key>
                <string>{105,54}</string>
            </dict>
            <key>pifenghou_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,251},{114,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,90}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>pifengqian_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,471},{110,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,39}}</string>
                <key>sourceSize</key>
                <string>{110,39}</string>
            </dict>
            <key>poke01_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,105},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>poke02_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>shenti_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,179},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>shrnti_nonmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>sidai_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{251,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,72}}</string>
                <key>sourceSize</key>
                <string>{251,72}</string>
            </dict>
            <key>sidai_jingdianmoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,71}}</string>
                <key>sourceSize</key>
                <string>{252,71}</string>
            </dict>
            <key>sidai_left_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,196},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>sidai_right_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,173},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>sidai_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,255},{250,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,71}}</string>
                <key>sourceSize</key>
                <string>{250,71}</string>
            </dict>
            <key>suipian01_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,131},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>suipian02_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,352},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>suipian03_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,352},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>suipian04_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,50},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>tou_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,255},{171,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,188}}</string>
                <key>sourceSize</key>
                <string>{171,188}</string>
            </dict>
            <key>tou_nonmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{169,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>toujin01_nonmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>toujin02_nonmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,48},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>tubiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,444},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>tubiao01_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,445},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>tubiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,391},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>tubiao02_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,100},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>tubiao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,444},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>tubiao03_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,391},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>tubiao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,445},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>tubiao04_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,445},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>tubiao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>tubiao05_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,444},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>tubiao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,393},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>tubiao06_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,444},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>xinfeng_zhuUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,88},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>xinfeng_zhuUI_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,393},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>youshou_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,471},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>youshou_nonmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>zhixie01_dajiangdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,166},{55,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{55,42}</string>
            </dict>
            <key>zhixie02_dajiangdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,321},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>zhixie03_dajiangdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,393},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>zuoshou_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,196},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>zuoshou_nonmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,321},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic_zhuUI_PC.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ada392ead8a7c0e3184d6e9614c2076$</string>
            <key>textureFileName</key>
            <string>Pic_zhuUI_PC.png</string>
        </dict>
    </dict>
</plist>
