<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saoguang_sidai0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,27},{5,2}}</string>
                <key>offset</key>
                <string>{-116,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{5,2}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{19,6}}</string>
                <key>offset</key>
                <string>{-109,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{19,6}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,226},{31,10}}</string>
                <key>offset</key>
                <string>{-103,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{31,10}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,172},{45,12}}</string>
                <key>offset</key>
                <string>{-97,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{45,12}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,284},{55,14}}</string>
                <key>offset</key>
                <string>{-91,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{55,14}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,114},{67,16}}</string>
                <key>offset</key>
                <string>{-85,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{67,16}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{79,54}}</string>
                <key>offset</key>
                <string>{-80,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{79,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,228},{89,56}}</string>
                <key>offset</key>
                <string>{-75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{89,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,307},{95,56}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{95,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,406},{95,56}}</string>
                <key>offset</key>
                <string>{-58,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{95,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,307},{93,56}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{93,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,404},{93,56}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{93,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{97,56}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,7},{97,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,226},{105,56}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{105,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,170},{113,56}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{113,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{123,56}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{123,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,56}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,7},{125,56}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,58},{123,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,8},{123,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,58},{123,54}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{123,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{123,54}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{123,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{123,54}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{123,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,114},{121,54}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,7},{121,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,60},{121,54}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,7},{121,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{121,54}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,8},{121,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{119,54}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,8},{119,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,114},{119,54}}</string>
                <key>offset</key>
                <string>{52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,8},{119,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,116},{115,54}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,8},{115,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,170},{109,54}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,8},{109,54}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{103,52}}</string>
                <key>offset</key>
                <string>{62,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,10},{103,52}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,307},{97,52}}</string>
                <key>offset</key>
                <string>{65,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,10},{97,52}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,228},{93,52}}</string>
                <key>offset</key>
                <string>{67,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,10},{93,52}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,172},{87,52}}</string>
                <key>offset</key>
                <string>{70,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,10},{87,52}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,402},{83,50}}</string>
                <key>offset</key>
                <string>{72,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,12},{83,50}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{77,50}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,12},{77,50}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,228},{73,50}}</string>
                <key>offset</key>
                <string>{77,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,12},{73,50}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,236},{69,48}}</string>
                <key>offset</key>
                <string>{79,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,14},{69,48}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,238},{65,48}}</string>
                <key>offset</key>
                <string>{81,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,14},{65,48}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,307},{61,46}}</string>
                <key>offset</key>
                <string>{83,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,16},{61,46}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,284},{57,46}}</string>
                <key>offset</key>
                <string>{85,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,16},{57,46}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,172},{53,46}}</string>
                <key>offset</key>
                <string>{87,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,16},{53,46}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,183},{51,44}}</string>
                <key>offset</key>
                <string>{88,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,18},{51,44}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,284},{49,44}}</string>
                <key>offset</key>
                <string>{89,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,18},{49,44}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,307},{43,42}}</string>
                <key>offset</key>
                <string>{92,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,20},{43,42}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,330},{41,42}}</string>
                <key>offset</key>
                <string>{93,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,20},{41,42}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,351},{39,42}}</string>
                <key>offset</key>
                <string>{94,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,20},{39,42}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,23},{5,2}}</string>
                <key>offset</key>
                <string>{110,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,22},{5,2}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,31},{1,2}}</string>
                <key>offset</key>
                <string>{112,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,22},{1,2}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
            <key>saoguang_sidai0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,31},{1,1}}</string>
                <key>offset</key>
                <string>{-122,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic_saoguang_sidai.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09511be1ccd86c44c1ed06a2db011f84$</string>
            <key>textureFileName</key>
            <string>Pic_saoguang_sidai.png</string>
        </dict>
    </dict>
</plist>
