<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saoguang_diban0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,377},{4,14}}</string>
                <key>offset</key>
                <string>{56,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,109},{4,14}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,253},{4,30}}</string>
                <key>offset</key>
                <string>{57,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,93},{4,30}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,366},{6,46}}</string>
                <key>offset</key>
                <string>{57,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,77},{6,46}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,87},{118,66}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,61},{118,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,3},{120,80}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{120,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,111},{122,92}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{122,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,157},{122,104}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{122,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,91},{122,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{122,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,3},{124,104}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{124,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,81},{124,96}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{124,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,3},{124,84}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{124,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{126,74}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{126,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,181},{122,66}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,205},{112,56}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{112,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,265},{102,50}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,207},{90,42}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{90,42}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,265},{80,36}}</string>
                <key>offset</key>
                <string>{-24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,36}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,207},{66,30}}</string>
                <key>offset</key>
                <string>{-30,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{66,30}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,372},{54,24}}</string>
                <key>offset</key>
                <string>{-36,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{54,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,321},{46,20}}</string>
                <key>offset</key>
                <string>{-41,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{46,20}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,346},{34,16}}</string>
                <key>offset</key>
                <string>{-46,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,16}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,315},{26,12}}</string>
                <key>offset</key>
                <string>{-50,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{26,12}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,205},{18,10}}</string>
                <key>offset</key>
                <string>{-53,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{18,10}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,227},{10,6}}</string>
                <key>offset</key>
                <string>{-55,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{10,6}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,315},{4,2}}</string>
                <key>offset</key>
                <string>{-57,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{4,2}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_diban0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,323},{1,1}}</string>
                <key>offset</key>
                <string>{-64.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>saoguang_jiangbei0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,323},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,401},{20,17}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{20,17}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,277},{34,33}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{34,33}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,390},{44,45}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{44,45}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,345},{50,53}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{50,53}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,361},{52,53}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{52,53}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,305},{52,53}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{52,53}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,343},{54,55}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{54,55}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,312},{56,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{56,57}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,251},{58,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,251},{58,53}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,53}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,253},{58,47}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,47}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,291},{58,41}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,41}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,304},{58,37}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,37}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,308},{58,31}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,31}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,261},{56,27}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,27}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,400},{54,23}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,23}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,318},{52,21}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{52,21}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,265},{50,17}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,17}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,371},{48,15}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{48,15}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,399},{44,13}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{44,13}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,331},{38,11}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{38,11}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,255},{32,9}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{32,9}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,265},{28,9}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{28,9}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,278},{26,9}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{26,9}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,305},{22,9}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{22,9}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,416},{18,7}}</string>
                <key>offset</key>
                <string>{17,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{18,7}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,399},{16,7}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,1},{16,7}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,361},{12,5}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{12,5}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,345},{12,5}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{12,5}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,246},{10,5}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{10,5}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>saoguang_jiangbei0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,237},{10,5}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{10,5}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pic_jiangbei.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba013b21321d1069f53b76936330116$</string>
            <key>textureFileName</key>
            <string>Pic_jiangbei.png</string>
        </dict>
    </dict>
</plist>
