<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saoguang_jinguan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,252},{76,51}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{76,51}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,189},{84,61}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{84,61}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,181},{90,69}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{90,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,177},{92,75}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{92,75}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{92,79}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{92,79}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,96},{92,83}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{92,87}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{92,91}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{92,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{92,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{92,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{92,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{92,99}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{92,93}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,185},{88,87}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,87}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,252},{76,79}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{76,79}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,274},{66,69}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{66,69}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,330},{56,59}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{56,59}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,388},{46,49}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,1},{46,49}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,96},{34,39}}</string>
                <key>offset</key>
                <string>{29,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,1},{34,39}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,137},{24,27}}</string>
                <key>offset</key>
                <string>{34,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{24,27}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>saoguang_jinguan0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,163},{18,19}}</string>
                <key>offset</key>
                <string>{37,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,2},{18,19}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saoguang_jinguan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e0e342b41326b4fb1021589dcadbf4d$</string>
            <key>textureFileName</key>
            <string>saoguang_jinguan.png</string>
        </dict>
    </dict>
</plist>
