<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toujing_dajiangsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,97}</string>
            </dict>
            <key>toujing_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,104},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>toujing_jingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{100,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,111}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>toujing_tiaozhansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touying_zhuUI.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8aa114dc57c2ed9e5b1b96b946de71$</string>
            <key>textureFileName</key>
            <string>touying_zhuUI.png</string>
        </dict>
    </dict>
</plist>
