<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effects_xiaohongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>hongyun_xiaohongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>xiaohongdian_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,106},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaohongdian_pic.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:708bffcb17f5aff763ccb8db4633cb94$</string>
            <key>textureFileName</key>
            <string>xiaohongdian_pic.png</string>
        </dict>
    </dict>
</plist>
