<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dipai_chongji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,172},{75,47}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{75,47}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,172},{79,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,87},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,87},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,87},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,87},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_chongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,172},{81,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>dipai_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,106},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>dipai_guodu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,168},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,53},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,105},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,54},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,106},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,172},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,156},{38,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,219},{38,35}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,222},{38,29}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,205},{38,21}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,104},{38,15}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{38,15}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_guodu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,157},{38,9}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{38,9}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>dipai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,106},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>dipai_saoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,249},{50,4}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,106},{50,6}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,54},{50,8}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,8}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,158},{50,10}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,158},{50,12}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,12}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{50,16}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,170},{50,18}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,18}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,170},{50,20}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,230},{50,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{50,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{50,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,54},{50,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,54},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,224},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,172},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,106},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_saoguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,54},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>dipai_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>yanjing_guang_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,57}}</string>
                <key>sourceSize</key>
                <string>{226,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_toushiyan_dipai.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8611a273260efd7a42be1fa6c2ac7702$</string>
            <key>textureFileName</key>
            <string>tx_toushiyan_dipai.png</string>
        </dict>
    </dict>
</plist>
