<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_zhujue_pigzhu_paikuang_samll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{83,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{83,106}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,221},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,221},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,166},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,332},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,221},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,110},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,84},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,84},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,303},{78,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,101}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Tx_zj_pig_fengwo_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,406},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,97}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_zhujue_pige_dianjinshou_tuji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24efb4787774775f94d5aeb6012aae19$</string>
            <key>textureFileName</key>
            <string>Tx_zhujue_pige_dianjinshou_tuji.png</string>
        </dict>
    </dict>
</plist>
