<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{52,52}}</string>
                <key>offset</key>
                <string>{16,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,32},{52,52}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,936},{84,90}}</string>
                <key>offset</key>
                <string>{0,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,628},{102,142}}</string>
                <key>offset</key>
                <string>{9,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{102,142}}</string>
                <key>offset</key>
                <string>{9,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,732},{126,200}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,200}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,142},{130,318}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{130,318}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,366}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{138,366}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{138,360}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{138,360}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{138,344}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,344}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,732},{138,326}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{138,326}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,142},{138,328}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{138,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{138,328}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{138,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,476},{138,328}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{138,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,146},{138,328}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{138,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{138,328}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{138,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,142},{134,328}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,72},{134,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,872},{132,328}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{132,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,472},{122,328}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,72},{122,328}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{120,202}}</string>
                <key>offset</key>
                <string>{-2,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,197},{120,202}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,476},{110,150}}</string>
                <key>offset</key>
                <string>{0,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,242},{110,150}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{102,86}}</string>
                <key>offset</key>
                <string>{2,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,299},{102,86}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,934},{92,76}}</string>
                <key>offset</key>
                <string>{1,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,308},{92,76}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
            <key>Tx_zj_pig_dianjinshou_shuangbei_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,934},{80,22}}</string>
                <key>offset</key>
                <string>{1,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,336},{80,22}}</string>
                <key>sourceSize</key>
                <string>{138,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_zj_pige_dianjinshou_djs_tuji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c177fe2edbbf13e0eef346390c9fcf8$</string>
            <key>textureFileName</key>
            <string>Tx_zj_pige_dianjinshou_djs_tuji.png</string>
        </dict>
    </dict>
</plist>
